@import '../../../css/sizes';

.dateInput {
  width: 180px;
  height: 32px;
  outline: none;
  border: 1px solid transparent;
  color: var(--black-color);
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--small-font-size);
  border-radius: var(--border-radius);
  transition: border 0.2s linear;

  &:hover {
    border-color: var(--blue-color);
    cursor: pointer;
  }
}

.dateInput::before {
  content: attr(data-date);
  display: inline-block;
  color: var(--black-color);
}

.dateInput::before::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 9px;
  right: 2px;
  color: var(--black-color);
}

/* Removes placeholder text for date input */
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-text {
  color: transparent;
}

/* Remove x button and up and down arrows */
::-webkit-clear-button,
::-webkit-inner-spin-button {
  display: none; /* Hide the button */
  -webkit-appearance: none; /* turn off default browser styling */
}

/* Give some padding around picker indicator to enlarge click area */
::-webkit-calendar-picker-indicator {
  padding: 10px;
}
