.dateInput {
  height: var(--input-height);
  width: 100%;
  font-family: var(--roboto);
  font-size: var(--medium-font-size);
  color: var(--black-color);
  padding-left: var(--small-gutter);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  outline: none;
  transition: border-color 0.2s;

  &:focus,
  &:hover {
    border-color: var(--blue-color);
  }
}

.dateInput.disabled {
  &:focus,
  &:hover {
    border-color: var(--border-color);
  }
}

.dateInput::-webkit-inner-spin-button {
  display: none;
}

.dateInput::-webkit-calendar-picker-indicator {
  color: var(--blue-color);
  padding: var(--extra-small-gutter);
}

.dateInput::-webkit-clear-button,
.dateInput::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.dateInput.empty {
  color: var(--light-gray-font-color);
}

.dateInput.error {
  border-color: var(--red-color);

  &:focus,
  &:hover {
    border-color: var(--red-color);
  }
}

.dateInput.small {
  height: 32px;
  width: 170px;
  font-size: var(--small-font-size);
  font-weight: var(--roboto-medium-weight);
  padding-left: var(--extra-small-gutter);
}
