.info {
  display: flex;
  align-items: center;
}

.info > * {
  margin-right: var(--small-gutter);
}

.user {
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background: var(--highlight-background-color);
  align-items: center;
  padding: 0 var(--small-gutter);
  margin-top: var(--extra-small-gutter);
}

.remove {
  cursor: pointer;
}

svg.remove:hover {
  fill: var(--gray-font-color);
}
