@import '../../shared/css/sizes';

.container {
  display: flex;
  flex: 1;
  order: 0;
  overflow: auto;
  justify-content: center;
  height: 100%;
  lost-center: var(--max-width);
}

.mainBody {
  flex-basis: 100%;
}

.leftHeading {
  font-family: var(--basetica-black);
  font-size: var(--large-font-size);
  line-height: var(--large-font-line-height);
  color: var(--black-color);
}
