.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  align-items: center;
  display: flex;
}

.loadingHidden {
  display: none;
}

.loadingContainer {
  width: 100%;
  justify-content: center;
  display: flex;
}

.formBottom {
  margin-top: 10px;
}

.formBottomContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formTop {
  display: flex;
  border-bottom: 1px solid var(--color-white);
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.inlineInputGroup {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

.inlineInputGroup:nth-child(odd) {
  margin-right: 10%;
}

.inputGroup {
  border-bottom: 1px solid var(--color-white);
}

.inputGroup input,
.inputGroup textarea,
.inputGroup select {
  margin-bottom: 10px;
}

.flexInputGroup {
  border-bottom: 1px solid var(--color-white);
  padding: 0 0 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.flexInputItem {
  display: flex;
}

.close {
  background: url('../../assets/close.svg');
  height: 18px;
  width: 18px;
  background-position: top center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 6px;
}

.formCenter {
  padding: 10px 20px 0;
}

.radioGroup {
  max-width: 100%;
  flex-basis: 53%;
  margin-bottom: 20px;
}

.error {
  color: var(--color-red);
}
