.container {
  background: white;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #fff;
  color: var(--black-color);
  margin: 0 10px 10px 10px;
}

.container:last-child {
  margin-bottom: 0;
}

.container:hover {
  color: var(--black-color);
}

.selected {
  border: 1px solid var(--border-color);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: var(--roboto-medium-weight);
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dateSection {
  padding: 0 15px;
  border-left: 1px solid var(--gray-background-color);
}

.dateLabel {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
  margin-right: 5px;
}

.dateValue {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--black-color);
}
