@import '../../../css/sizes';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px dashed var(--border-color);
  border-radius: 4px;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.icon {
  height: 30px;
  width: 30px;
  background-image: url('../../../../assets/pause-light-grey.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.container h3 {
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  font-weight: var(--roboto-medium-weight);
  line-height: var(--medium-font-line-height);
  color: var(--light-gray-font-color);
  margin-bottom: 10px;
}

.container p {
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  color: var(--light-gray-font-color);
}
