@import '../../shared/css/sizes';

.encounterTypeContainer {
  background: var(--white-font-color);
  padding: var(--small-gutter);
}

.locationTimeRow {
  padding-top: var(--small-gutter);
  display: flex;
}

.location {
  flex: 1;
  padding-right: var(--small-gutter);
}

.time {
  flex: 1;
}

.error {
  color: var(--red-color);
}

.summaryContainer {
  display: block;
  padding: var(--small-gutter);
}
