@import '../../shared/css/sizes';

.progressNote {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px var(--small-gutter);
  cursor: pointer;
  background-color: var(--white-color);
  transition: background-color 0.3s;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background-color: var(--gray-background-color);
  }
}

.progressNoteType {
  color: var(--gray-font-color);
}

.patientPhoto {
  width: 43px;
  height: 43px;
  background-image: url('../../assets/missing-profile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.patientName {
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  color: var(--black-color);
}

.progressNoteRight {
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--small-font-size);
  color: var(--light-gray-font-color);
  flex-grow: 1;
}

.time {
  font-size: 10px;
}

.bottomSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
