.container {
  z-index: 11;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 0;
  width: 550px;
  transition: height 0.6s ease-in-out;
  background: var(--white-color);
  box-shadow: var(--login-drop-shadow);
}

.visible {
  transition: height 0.3s ease-in-out;
  height: calc(100vh - var(--header-height));
}

.bottomSection {
  overflow: auto;
  height: calc(100vh - 235px);
}

.tabContainer {
  display: block;
}

.topBar {
  width: 100%;
  background: var(--navy-color);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--medium-font-size);
  padding: 26px var(--small-gutter) 23px;
}

.topBarLabel {
  color: var(--light-blue-color);
  font-family: var(--basetica-medium);
  font-size: var(--default-font-size);
}

.closeButton {
  background: url('../../assets/chevron-down-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.closeButton:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.8;
}

.middleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px var(--small-gutter);
  background: var(--white-font-color);
}

.buttonInactive {
  opacity: 0.5;
}

.patientContainer {
  display: flex;
  align-items: center;
}

.patientContainerRight {
  margin-left: var(--small-gutter);
  display: inline-block;
  vertical-align: top;
}

.patientName {
  font-weight: var(--roboto-medium-weight);
  font-size: var(--medium-font-size);
  color: var(--default-font-color);
}

.openedAt {
  display: block;
  color: var(--default-font-color);
}
