# OSX
.DS_Store

# node.js
node_modules/

# compiled ts
server-compiled

# logs
*.log
npm-debug.log*

# dotenv file for local development
.env

# Coverage directory used by tools like istanbul
coverage

# build
public
