@import '../../../css/sizes';

.container {
  display: flex;
  margin: var(--small-gutter) 0;
  align-items: center;
}

.container p {
  color: var(--light-blue-color);
  font-family: var(--basetica-medium);
  font-size: var(--default-font-size);
  line-height: var(--medium-font-line-height);
  font-weight: var(--roboto-medium-weight);
  padding-right: 8px;
  margin: 0;
  white-space: nowrap;
}

.divider {
  background: var(--light-gray-font-color);
  height: 2px;
  width: 100%;
}

.gray p {
  color: var(--light-gray-font-color);
}

.padding {
  padding: 0 var(--medium-gutter);
}
