.description {
  padding-top: var(--medium-gutter);
  border-top: 1px dashed var(--border-color);
  margin-bottom: var(--extra-small-gutter);
  color: var(--black-color);
  font-family: var(--basetica-medium);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--default-font-size);
  line-height: var(--medium-font-line-height);
}

.description span {
  margin-right: 3px;
  margin-left: 3px;
}

.highlightedText {
  color: var(--red-color);
}
