::-webkit-scrollbar {
  display: none;
}

.container {
  padding: var(--small-gutter) var(--medium-gutter) 120px;
  background-color: var(--gray-background-color);
  min-height: 100%;
}

.navBar {
  flex-shrink: 0;
  height: 50px;
}

.body {
  flex: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
