.container {
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  margin-top: 10px;
}

.container:first-child {
  margin-top: 0;
}

.body.noConsent {
  border-left: 6px solid var(--red-color);
}

.body.partialConsent {
  border-left: 6px solid var(--yellow-color);
}

.body.fullConsent {
  border-left: 6px solid var(--green-color);
}

.body {
  width: 100%;
  background-color: var(--white-color);
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--small-gutter) var(--medium-gutter);
}

.footer {
  width: 100%;
  background-color: var(--highlight-background-color);
  padding: var(--extra-small-gutter) var(--medium-gutter);
  border-top: 2px dashed var(--dark-gray-background-color);
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: flex-start;
}

.column {
  margin-left: var(--small-gutter);
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 175px;
}

.column:first-child {
  margin-left: 0;
  min-width: 225px;
}

.bullet {
  padding: 0 5px;
}

.row svg {
  margin-left: 10px;
}

.row.hiddenStar svg {
  display: none;
}

.spacing {
  margin-top: 5px;
}

.spacingRight {
  margin-right: 3px;
}

.commaSeparated {
  display: inline-block;
}

.commaSeparated p {
  margin-left: 3px;
}

.commaSeparated p::after {
  content: ',';
}

.commaSeparated p:last-child::after {
  content: '';
}
