@import '../../../css/sizes';

.button,
.iconButton {
  font-size: var(--default-font-size);
  font-family: var(--basetica-medium);
  line-height: var(--medium-font-line-height);
  color: var(--white-color);
  background: var(--blue-color);
  border-radius: 2px;
  height: 32px;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
    background: var(--light-blue-color);
  }
}

.iconButton span span {
  margin-top: 2px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 8px var(--medium-gutter);
}

svg.icon {
  height: 18px;
  width: 18px;
  fill: var(--white-color);
  margin-right: var(--extra-small-gutter);
}

.red {
  background: var(--red-color);

  &:hover {
    background: var(--red-hover-color);
  }
}

.teal {
  background-color: var(--teal-color);

  &:hover {
    background-color: var(--teal-color);
    opacity: 0.8;
  }
}

.white {
  background: var(--white-color);
  color: var(--blue-color);
  box-sizing: border-box;
  border: 1px solid var(--blue-color);

  &:hover {
    background: var(--gray-background-color);
  }
}

.white svg.icon {
  fill: var(--blue-color);
}

.iconFillWhite svg.icon {
  fill: var(--white-color);
}

.iconFillBlue svg.icon {
  fill: var(--blue-color);
}

.iconFillGreen svg.icon {
  fill: var(--green-color);
}

.gray {
  background: var(--gray-background-color);
  color: var(--gray-font-color);
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.small {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  padding: 9px 16px;
}

.fullWidth {
  width: 100%;
}

.disabled {
  opacity: 0.4;

  &:hover {
    cursor: not-allowed;
  }
}
