@import '../../../css/sizes';

.button,
.iconButton {
  font-size: var(--default-font-size);
  font-family: var(--basetica-medium);
  line-height: var(--medium-font-line-height);
  color: var(--white-color);
  background: var(--blue-color);
  border-radius: 2px;
  height: 32px;
  border: none;

  &:hover {
    cursor: pointer;
    background: var(--light-blue-color);
  }
}

.button {
  padding: 8px 36px;
}

svg.icon {
  height: 18px;
  width: 18px;
  fill: var(--default-font-color);

  /* fudge to get icon to align with text */
  margin-bottom: 2px;
}

.red {
  background: var(--red-color);

  &:hover {
    background: var(--red-color);
  }
}

.white {
  background: var(--white-color);
  color: var(--blue-color);
  box-sizing: border-box;
  border: 1px solid var(--blue-color);

  &:hover {
    background: var(--gray-background-color);
  }
}

.small {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  padding: 9px 16px;
}

.fullWidth {
  width: 100%;
}
