.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: var(--big-border-radius);
  padding: var(--small-gutter);
}

.otherTextAnswer {
  padding: var(--small-gutter) 0 0 0;
}

.fullWidth {
  width: 100%;
}

.border {
  border: 1px solid var(--border-color);
  border-radius: var(--big-border-radius);
  margin-bottom: var(--extra-small-gutter);
}

.border:last-child {
  margin-bottom: 80px;
}

.multiSelect {
  padding-bottom: var(--extra-small-gutter);
}

.question.hidden {
  display: none;
}

.question.highRiskAnswer {
  border-left: 4px solid var(--red-color);

  /* Remove 3px of padding on left to account for wider border */
  padding-left: 17px;
}

.questionHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--small-gutter);
}

.questionTitle {
  margin-bottom: 0;
}

.questionBody {
  width: 100%;
  padding: var(--small-gutter) 0;
}

.questionBody.noBottomPadding {
  padding-bottom: 0;
}

.questionHistory {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid var(--light-gray-font-color);
  padding-top: 10px;
}

.questionHistoryLabel,
.questionHistoryText {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
}

.questionHistoryLabel {
  margin-right: 5px;
}

.answerContainer {
  width: 100%;
}
