.popup {
  max-height: 648px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: var(--big-border-radius);
}

.body {
  padding: var(--medium-gutter);
  overflow: scroll;
  flex: 1;
}

.spinner {
  margin: var(--gutter);
}

.icon {
  margin-bottom: var(--small-gutter);
}

.buttons {
  flex-shrink: 0;
  border-top: 1px solid var(--border-color);
  padding: 0 var(--medium-gutter) var(--small-gutter);
  background-color: var(--highlight-background-color);
}

.buttons.buttonsNoBody {
  background-color: var(--white-color);
  border-top: none;
}

.header {
  flex-shrink: 0;
}

.header.headerNoBody {
  background-color: var(--white-color);
}

.empty {
  display: flex;
  flex-direction: column;
  margin: var(--medium-gutter);
  align-items: center;
}
