@import '../../../css/sizes';

.label {
  display: block;
  color: var(--black-color);
  font-family: var(--basetica-medium);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--default-font-size);
  line-height: var(--medium-font-line-height);
  margin: 0 0 10px 0;
  transition: color 0.2s;
}

.completed {
  color: var(--light-gray-font-color);
}
