@import '../../../css/sizes';

.popup {
  border-radius: var(--big-border-radius);
}

.container {
  padding: 50px;
  position: relative;
}

.close {
  fill: var(--border-color);
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  transition: fill 0.2s;

  &:hover {
    fill: var(--gray-font-color);
  }
}
