.container {
  background: var(--gray-background-color);
  text-align: center;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: var(--medium-gutter) 0;
}

.navyContainer {
  background: var(--navy-color);
}

.whiteContainer {
  background: white;
}

.container h2 {
  margin: 0;
  font-family: var(--basetica-black);
  font-size: var(--medium-large-font-size);
  line-height: 23px;
  color: var(--black-color);
}

.container p {
  margin: 0;
  margin-top: var(--extra-small-gutter);
  padding: 0 var(--medium-gutter);
  line-height: var(--body-copy-line-height);
  color: var(--gray-font-color);
}

.navyContainer h2,
.navyContainer p {
  color: var(--white-color);
}

.icon {
  fill: var(--border-color);
  position: absolute;
  top: var(--small-gutter);
  right: var(--small-gutter);
  cursor: pointer;
  transition: fill 0.2s;

  &:hover {
    fill: var(--gray-font-color);
  }
}

.navyIcon {
  fill: var(--white-color);

  &:hover {
    fill: var(--border-color);
  }
}
