@import '../../../css/sizes';

.container input[type='radio'] {
  display: none;
}

.container label {
  color: var(--gray-background-color);
  text-align: center;
  padding: 0 var(--medium-gutter);
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  line-height: 48px;
  min-width: 100px;
  border: 1px solid var(--border-color);
  border-right-width: 0;
  cursor: pointer;
}

.container:first-child label {
  border-top-left-radius: var(--big-border-radius);
  border-bottom-left-radius: var(--big-border-radius);
}

.container:last-child label {
  border-top-right-radius: var(--big-border-radius);
  border-bottom-right-radius: var(--big-border-radius);
  border-right-width: 1px;
}

.container input[type='radio']:checked + label {
  color: var(--black-color);
  background: var(--gray-background-color);
  border-color: var(--black-color);
}

.checked + .container input[type='radio'] + label {
  /* Update color of shared border, needed since having own border makes middle borders too thick */
  border-left-color: var(--black-color);
}

.container input[type='radio']:disabled + label {
  cursor: default;
}

.enabled input[type='radio'] + label {
  color: var(--gray-font-color);
  border-color: var(--border-color);
}

.enabled input[type='radio']:checked + label {
  color: var(--blue-color);
  background: var(--white-color);
}
