.container {
  background: var(--gray-background-color);
  max-height: 420px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border: 1px solid var(--border-color);
  border-top: none;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding: var(--extra-small-gutter) 0;
}
