.text {
  cursor: pointer;
  margin: 0;
  padding: var(--extra-small-gutter) var(--small-gutter);

  &:hover {
    background: var(--dark-gray-background-color);
  }
}

.light {
  color: var(--light-gray-font-color);
  cursor: auto;

  &:hover {
    background: var(--gray-background-color);
  }
}

.text span {
  font-weight: var(--roboto-medium-weight);
  color: var(--black-color);
}
