.option {
  display: flex;
  align-items: center;
  padding: 10px var(--small-gutter);

  &:hover {
    cursor: pointer;
    background: var(--light-blue-hover);
  }
}

.avatar {
  margin-right: var(--extra-small-gutter);
}
