.addressButton {
  background-color: var(--dark-gray-background-color);
  border: 1px solid var(--border-color);
  color: var(--black-color);
  height: 40px;
  margin-bottom: var(--small-gutter);
}

.addressTitle {
  padding-top: var(--small-gutter);
}

.emptyRequiredBlock {
  padding: 25px;
  border: 1px dashed var(--red-color);
  text-align: center;
  cursor: pointer;
}

.emptyRequiredBlock p {
  font-family: var(--basetica-medium);
  font-weight: var(--default-font-weight);
  color: var(--red-color);
}

.fieldMargin {
  margin: var(--small-gutter) 0 var(--medium-gutter);
}

.fieldRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: var(--small-gutter);
}

.fieldRow:last-child {
  margin-bottom: 0;
}
