.background {
  background: var(--red-color);
  height: 32px;
  width: 60px;
  border-radius: 16px;
  position: relative;
  transition: background 0.3s;
  cursor: pointer;
}

.backgroundOn {
  background: var(--green-color);
}

.toggle {
  position: absolute;
  top: 2px;
  left: 2px;
  background: var(--white-color);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s;
}

.toggleOn {
  left: 30px;
}

svg.icon {
  height: 18px;
  width: 18px;
}
