@import '../../shared/css/sizes';

.careTeamMemberRow {
  &:hover {
    cursor: pointer;
  }
}

.careTeamMemberDetails {
  padding: var(--small-gutter) var(--medium-gutter);
  justify-content: flex-start;
  align-items: center;
  lost-flex-container: row;
}

.careTeamMemberPhoto {
  margin-top: 2px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--light-blue-color);
  border-radius: 50%;
}

.careTeamMemberPhoto img {
  border-radius: 50%;
}

.careTeamMemberLabel {
  padding-left: 10px;
  font-family: var(--roboto);
  color: var(--black-color);
  lost-flex-container: column;
}

.careTeamMemberName {
  font-weight: var(--roboto-medium-weight);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  padding-bottom: 5px;
}

.careTeamMemberRole {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.careTeamMemberContact {
  margin: 0 var(--medium-gutter);
  padding-top: 0;
  border-top: 1px solid var(--gray-background-color);
  height: 0;
  transition: height 0.25s ease-out;
  overflow: hidden;

  &:hover {
    cursor: default;
  }
}

.careTeamMemberContact.open {
  margin: 0;
  height: 93px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--gray-background-color);
  padding: 10px var(--gutter) 0;
}

.careTeamMemberContact.open.phone {
  height: 127px;
}

.careTeamMemberContact.open .careTeamMemberContactRow {
  padding: 10px 10px 10px 5px;
}

.careTeamMemberContactRow {
  padding: 10px 10px 10px 15px;
  justify-content: flex-start;
  align-items: center;
  lost-flex-container: row;

  &:hover {
    cursor: pointer;
  }
}

.careTeamContactIcon {
  height: 12px;
  width: 12px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.careTeamSlackIcon {
  background-image: url('../../assets/slack-grey.svg');
}

.careTeamPhoneIcon {
  background-image: url('../../assets/phone-grey.svg');
}

.careTeamEmailIcon {
  background-image: url('../../assets/email-grey.svg');
}

.careTeamContactLabel {
  padding-left: 10px;
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  color: var(--gray-font-color);
}
