.full,
.split,
.collapsed {
  transition: width 0.2s linear;
  margin-top: var(--small-gutter);
}

.full {
  width: 100%;
}

.collapsed {
  width: 0%;
  display: none;
}

.leftMargin {
  margin-left: 18px;
}
