.medication {
  padding: 0 var(--medium-gutter);
  background-color: var(--white-color);
}

.medicationRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--medium-font-line-height);
  padding: 11px 0;
  border-bottom: 1px solid var(--gray-background-color);
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.medicationRowTitle {
  max-width: 180px;
  font-weight: var(--roboto-medium-weight);
  color: var(--black-color);
}
