.leftPane {
  background-color: var(--white-color);
  border-right: 1px solid var(--border-color);
  flex-basis: 25%;
  height: calc(100vh - 60px);
  overflow: auto;
}

.profileIcon,
.medsIcon {
  background-position: center center;
  background-repeat: no-repeat;
}

.profileIcon {
  background-image: url('../../assets/patient-profile-icon-dark-grey.svg');
}

.profileIcon.selected,
.medsIcon.selected {
  background-color: var(--gray-background-color);
}

.profileIcon.selected {
  background-image: url('../../assets/patient-profile-icon-blue.svg');
}

.medsIcon {
  background-image: url('../../assets/generic-health-icon-dark-grey.svg');
}

.medsIcon.selected {
  background-image: url('../../assets/generic-health-icon-blue.svg');
}

.patientMain {
  padding: 0 var(--medium-gutter);
  border-bottom: 1px solid var(--gray-background-color);
}

.patientMain.noBorder {
  border-bottom: none;
}

.patientHeader {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
}

.patientTitle {
  justify-content: space-between;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.patientName,
.patientSingleLineName {
  font-family: var(--basetica-black);
  font-size: var(--large-font-size);
  line-height: var(--large-font-line-height);
  color: var(--black-color);
  display: flex;
  flex-direction: column;
}

.patientSingleLineName {
  padding: 10px 0;
}

.patientFirstName {
  margin-bottom: 10px;
}

.patientSubheading {
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  font-weight: var(--roboto-medium-weight);
  color: var(--black-color);
}

.patientBasicInfo {
  padding: 0 0 20px;
  display: flex;
  flex-flow: column wrap;
}

.patientBasicInfoRow {
  justify-content: space-between;
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  padding-bottom: 12px;
  display: flex;
  flex-flow: row wrap;
}

.patientBasicInfoRowData {
  font-weight: var(--roboto-medium-weight);
  color: var(--black-color);
  text-align: right;
}
