.container {
  flex: 1;
  order: 0;
  overflow: auto;
  justify-content: center;
  height: 100%;
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
}

.mainBody {
  flex-basis: 75%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  flex-shrink: 0;
}

.pageContent {
  flex: 1;
  overflow: hidden;
}

.tabs {
  border-bottom: 1px solid var(--dark-gray-background-color);
}
