.container {
  position: relative;
}

.stickyTop {
  position: sticky;
  top: 0;
  z-index: 3;
}

.marginLeft {
  margin-left: 10px;
}

.hidden {
  display: none;
}

.carePlanPanel {
  background-color: var(--gray-background-color);
  padding: 0 0 var(--small-gutter);
  min-height: calc(100vh - 160px);
}

.paddingTop {
  padding-top: var(--small-gutter);
}

.carePlanSuggestions,
.carePlan {
  height: calc(100vh - 200px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.error {
  border: 1px solid var(--red-color);
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0 var(--medium-gutter);
}

.section:last-child {
  margin-bottom: 0;
}

.acceptModalInput {
  margin-top: var(--small-gutter);
}

.acceptModalInput.hidden {
  display: none;
}

.roundedInput {
  border-radius: 4px;
}

.acceptModalButtons {
  display: flex;
  flex-direction: row;
  margin: 0 auto var(--medium-gutter);
}

.rightSmallGutter {
  margin-right: var(--small-gutter);
}

.smallButton {
  height: 32px;
  width: 148px;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  padding: 10px var(--small-gutter);
}

.redButton {
  background-color: var(--red-color);
}

.loadingLabel {
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  color: var(--light-gray-font-color);
}

.carePlanLoading,
.carePlanSuggestionsLoading {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
}

.carePlanSuggestionsLoading {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px dashed var(--border-color);
  border-radius: 4px;
  padding: 50px;
  align-items: center;
}

.carePlanError {
  margin: var(--gutter) var(--gutter) 0;
}

.carePlanErrorIcon {
  background-image: url('../../assets/error-circle.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  margin: 0 auto var(--small-gutter);
}

.carePlanErrorLabel {
  color: var(--default-font-color);
  font-family: var(--basetica-black);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  text-align: center;
  margin: 0 auto 10px;
}

.carePlanErrorSubheading {
  color: var(--gray-font-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  text-align: center;
  margin: 0 auto var(--medium-gutter);
  padding: 0 var(--small-gutter);
}

.carePlanErrorButton {
  width: 94px;
  height: 32px;
  margin: 0 auto;
  padding: 9px 0 0 0;
  text-align: center;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.emptyCarePlanSuggestionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px dashed var(--border-color);
  border-radius: 4px;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}

.empty {
  margin-left: var(--small-gutter);
  margin-right: var(--small-gutter);
}

.tabContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--medium-gutter);
  background-color: var(--dark-gray-background-color);
  border-bottom: 1px solid var(--border-color);
}

.tabRow {
  border-bottom: none;
}
