@import '../../shared/css/sizes';

.patientMedications {
  padding: 25px 0 0;
}

.bottomMargin {
  margin-bottom: 65px;
}

.medicationsHeader {
  justify-content: space-between;
  margin: 0 var(--medium-gutter);
  padding-bottom: var(--small-gutter);
  border-bottom: 1px solid var(--border-color);
  lost-flex-container: row;
}

.medicationsTitle {
  font-family: var(--basetica-medium);
  font-size: var(--medium-large-font-size);
  line-height: var(--medium-large-font-line-height);
  color: var(--black-color);
}

.medicationsList {
  padding: 15px 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.medicationsList.emptyMedicationsList:hover {
  cursor: default;
}
