@import '../../shared/css/sizes';
.marginLeft {
  margin-left: 10px;
}

.invertedButton {
  @apply --inverted-button;
}

.button {
  @apply --button;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.saveButton {
  margin-left: 10px;
}

.cancelButton, .saveButton, .startButton {
  height: 32px;
  width: 173px;
  padding: 9px 30px;
}

.hidden {
  display: none;
}

.riskAreasPanel {
  background-color: var(--gray-background-color);
  padding: 20px var(--medium-gutter);
}

::-webkit-scrollbar {
  display: none;
}

.riskAreas, .riskAssessment {
  height: calc(100vh - 200px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.riskAreas.emptyRiskAreasList {}

.emptyRiskAreasMessage {
  border: 1px dashed var(--border-color);
  border-radius: 4px;
  padding: 50px 0;
}

.emptyRiskAreasLogo {
  background-image: url('../../assets/calendar-event-grey.svg');
  background-position: center center;
  height: 30px;
  width: 30px;
  margin: 0 auto 25px;
}

.emptyRiskAreasLabel {
  margin: 0 auto 10px;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
}

.emptyRiskAreasSubtext {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}

.riskAreasLoading {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  padding-top: 50px;
}

.riskAreasError {
  margin: var(--gutter) var(--gutter) 0;
}

.riskAreasErrorIcon {
  background-image: url('../../assets/error-circle.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  margin: 0 auto var(--small-gutter);
}

.riskAreasErrorLabel {
  color: var(--default-font-color);
  font-family: var(--basetica-black);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  text-align: center;
  margin: 0 auto 10px;
}

.riskAreasErrorSubheading {
  color: var(--gray-font-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  text-align: center;
  margin: 0 auto var(--medium-gutter);
  padding: 0 var(--small-gutter);
}

.riskAreasErrorButton {
  width: 94px;
  height: 32px;
  margin: 0 auto;
  padding: 9px 0 0 0;
  text-align: center;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.riskAssessmentTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px var(--small-gutter);
  border-radius: 4px;
  background-color: var(--white-color);
  margin-bottom: 10px;
}

.riskAssessmentTitle.lowRisk {
  border-left: 4px solid var(--border-color);
}

.riskAssessmentTitle.mediumRisk {
  border-left: 4px solid var(--yellow-color);
}

.riskAssessmentTitle.highRisk {
  border-left: 4px solid var(--red-color);
}

.title, .meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  justify-content: flex-start;
}

.meta {
  justify-content: flex-end;
  border-left: 1px solid var(--gray-background-color);
  padding-left: 10px;
}

.titleIcon {
  height: 18px;
  width: 18px;
  background-image: url('../../assets/house-icon-grey.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.titleText {
  color: var(--black-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}

.lastUpdatedLabel {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
  margin-right: 5px;
}

.lastUpdatedValue {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--black-color)
}

.riskAssessmentQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px var(--small-gutter);
  border-radius: 4px;
  background-color: var(--white-color);
  margin-bottom: 10px;
}

.riskAssessmentQuestion:last-child {
  margin-bottom: 0;
}

.riskAssessmentQuestionHeader, .riskAssessmentQuestionTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.riskAssessmentQuestionHeader {
  margin-bottom: 10px;
}

.riskAssessmentQuestionTitle {
  color: var(--black-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}

.riskAssessmentQuestionLastUpdated {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.riskAssessmentQuestionLastUpdatedDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: var(--gutter);
}

.riskAssessmentQuestionLastUpdater {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.riskAssessmentQuestionLastUpdaterName { }

.riskAssessmentQuestionBody {
  width: 100%;
  padding: var(--small-gutter) 0;
}

.riskAssessmentQuestionBody.noBottomPadding {
  padding-bottom: 0;
}

.riskAssessmentQuestionHistory {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid var(--light-gray-font-color);
  padding-top: 10px;
}

.riskAssessmentQuestionHistoryLabel, .riskAssessmentQuestionHistoryText {
  color: var(--light-gray-font-color);
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
}

.riskAssessmentQuestionHistoryLabel {
  margin-right: 5px;
}

select.select {
  width: 50%;
  border-radius: 4px;
}

.radioGroup {
  width: 100%;
  max-width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.radioGroupItem {
  display: inline-block;
  margin: 0 15px var(--small-gutter) 0;
  min-width: 55px;
}

.checkBoxItem { }

.textArea {
  width: 50%;
  height: 120px;
}

.textArea textarea {
  resize: none;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: var(--small-gutter);
}