@import '../../shared/css/sizes';
.screeningToolSubmissionSection {
  padding-bottom: var(--small-gutter);
  margin-bottom: var(--small-gutter);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

.screeningToolSubmission {
  min-height: 62px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px var(--small-gutter);
  border-left: 4px solid var(--green-color);
  border-radius: 4px;
  background-color: var(--white-color);
}

.screeningToolSubmission.mediumRisk {
  border-left: 4px solid var(--yellow-color);
}

.screeningToolSubmission.highRisk {
  border-left: 4px solid var(--red-color);
}

.screeningToolSubmissionTitleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.screeningToolSubmissionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.screeningToolSubmissionTitleLabel, .screeningToolSubmissionTitleScore {
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
}

.screeningToolSubmissionTitleLabel {
  color: var(--black-color);
  margin-right: 10px;
}

.screeningToolSubmissionTitleScore {
  color: var(--green-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.screeningToolSubmissionTitleScore.mediumRisk {
  color: var(--yellow-color);
}

.screeningToolSubmissionTitleScore.highRisk {
  color: var(--red-color);
}

.screeningToolSubmissionTitleScoreDivider {
  margin: 0 10px;
}

.screeningToolSubmissionTitleInfoButton {
  margin-left: 10px;
  margin-bottom: 3px;
  height: 15px;
  width: 15px;
  background-image: url('../../assets/info-icon-grey.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}

.screeningToolSubmissionMeta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.screeningToolSubmissionMetaGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid var(--gray-background-color);
}

.screeningToolSubmissionMetaGroup:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.screeningToolSubmissionMetaLabel, .screeningToolSubmissionMetaData {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
}

.screeningToolSubmissionMetaLabel {
  color: var(--light-gray-font-color);
  margin-right: 10px;
}

.screeningToolSubmissionMetaData {
  color: var(--black-color);
}

.screeningToolSubmissionSummaryRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--black-color);
}
