@import '../../../shared/css/sizes';

.container {
  background: var(--white-color);
  box-shadow: var(--drop-shadow);
  padding: var(--extra-small-gutter);
  border-radius: var(--big-border-radius);
}
