svg.icon {
  width: 22px;
  height: 22px;
  fill: var(--border-color);
}

svg.icon.darkGray {
  fill: var(--gray-font-color);
}

svg.icon.white {
  fill: var(--white-color);
}

svg.icon.red {
  fill: var(--red-color);
}

svg.icon.blue {
  fill: var(--blue-color);
}

svg.icon.green {
  fill: var(--green-color);
}

svg.icon.lightBlue {
  fill: var(--light-blue-color);
}

svg.icon.teal {
  fill: var(--teal-color);
}

svg.icon.purple {
  fill: var(--purple-color);
}

svg.icon.yellow {
  fill: var(--yellow-color);
}

svg.icon.large {
  width: 27px;
  height: 27px;
}

svg.icon.extraLarge {
  width: 30px;
  height: 30px;
}

svg.icon.hover {
  cursor: pointer;
}
