@import '../../css/sizes.css';

.list {
  display: inline-block;
  height: calc(100vh - 223px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  transition: width 0.3s ease-out;
}

.compressed {
  width: 50%;
}
