@import '../../../css/sizes';

.link {
  display: flex;
  align-items: center;
  color: var(--gray-font-color);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--blue-color);
  }
}

.link h5 {
  font-family: var(--basetica-medium);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--default-font-size);
  line-height: var(--medium-font-line-height);
  margin: 0;
  margin-left: 15px;

  /* little nudge due to Basetica weirdness */
  margin-top: 4px;
}

.link svg {
  fill: var(--gray-font-color);
  margin-left: var(--medium-gutter);
}

.link:hover svg {
  fill: var(--blue-color);
}
