.text {
  display: inline-block;
  margin: 0;
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
  font-weight: var(--default-font-weight);
}

.black {
  color: var(--black-color);
}

.gray {
  color: var(--gray-font-color);
}

.white {
  color: var(--white-color);
}

.red {
  color: var(--red-color);
}

.mediumFontSize {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.largeFontSize {
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}

.bold {
  font-weight: var(--bold-font-weight);
}
