.columnHeader {
  font-family: var(--basetica-black);
  font-size: var(--default-font-size);
  line-height: var(--medium-font-line-height);
  margin: 0;
}

.placeholder {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg.searchIcon,
svg.noResultsIcon {
  height: var(--gutter);
  width: var(--gutter);
  margin-bottom: var(--small-gutter);
}

svg.searchIcon {
  fill: var(--light-gray-font-color);
}

.searchText {
  margin: 0;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  font-weight: var(--roboto-medium-weight);
  line-height: var(--medium-font-line-height);
}

svg.noResultsIcon {
  fill: var(--red-color);
}

.noResults {
  margin: 0;
  margin-bottom: var(--extra-small-gutter);
  font-family: var(--basetica-black);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
}

.noResultsDetail {
  color: var(--gray-font-color);
}
