.hasCheck .result {
  left: 60px;
  padding: 15px 50px 15px 0;
}

.result {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  left: 0;
  top: 0;
  right: 0;
}

.headerContainer {
  background: var(--gray-background-color);
  border-bottom: 1px solid var(--border-color);
  position: -webkit-sticky;
  position: sticky;
  height: 48px;
  padding: 15px 0;
  top: 0;
  z-index: 1;
}

.headerContainer .result {
  background: transparent;
}

.rowContainer {
  position: relative;
  height: 46px;
  padding: 15px 0;
  border-bottom: 1px solid var(--gray-background-color);
}

.check {
  display: inline-block;
  margin-left: var(--small-gutter);
}

.name {
  min-width: 200px;
  color: var(--black-color);
}

.status {
  min-width: 80px;
}

.memberId {
  min-width: 105px;
  color: var(--black-color);
}

.address {
  min-width: 310px;
  color: var(--black-color);
}

.dateOfBirth {
  min-width: 125px;
  color: var(--black-color);
}

.rowContainer:nth-child(odd) {
  background: var(--highlight-background-color);
}

.result h4 {
  margin: 0;
  margin-right: var(--medium-gutter);
  color: var(--black-color);
  font-weight: var(--default-font-weight);
}

.result p {
  margin: 0;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.headerContainer h3,
.result p {
  margin-right: var(--medium-gutter);
}

.headerContainer h3:last-child,
.result p:last-child {
  margin-right: 0;
}

.userCareTeam {
  position: absolute;
  top: 19px;
  left: var(--medium-gutter);
  background: var(--blue-color);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
