@import '../../shared/css/sizes';

.container {
  flex: 1;
  order: 0;
  overflow: auto;
  justify-content: center;
  height: 100%;
  lost-center: var(--max-width);
  display: flex;
}

.mainBody {
  flex-basis: 75%;
}
