@import '../../shared/css/sizes';
.leftPane {
  background-color: var(--white-color);
  border-right: 1px solid var(--border-color);
  flex-basis: 25%;
  height: calc(100vh - 60px);
  overflow: scroll;
}
