.select {
  height: 52px;
  font-size: var(--medium-font-size);
}

.showAll {
  cursor: pointer;
}

.showAll p {
  margin: 0;
  margin-bottom: var(--extra-small-gutter);
  color: var(--light-blue-color);
  font-family: var(--basetica-medium);
  font-weight: var(--roboto-medium-weight);
  line-height: var(--medium-font-line-height);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  height: var(--gutter);
}
