@import '../../../css/sizes';

.tabs {
  background: var(--dark-gray-background-color);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.white {
  background: var(--white-color);
}
