.container {
  padding: 0 var(--medium-gutter);
  border-bottom: 2px solid var(--border-color);
}

.border {
  height: 15px;
  margin-bottom: 15px;
}

.smallBorder {
  height: 5px;
  margin-bottom: 0;
}

.redBorder {
  background: var(--red-color);
}

.yellowBorder {
  background: var(--yellow-color);
}

.greenBorder {
  background: var(--green-color);
}

.needToKnow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--medium-gutter);
  margin-bottom: var(--small-gutter);
}

.divider {
  height: 2px;
  width: calc(50% - 40px);
  background: var(--border-color);
}
