.container {
  display: flex;
  padding: 0 var(--medium-gutter);
}

.containerOpen {
  align-items: center;
  padding: 0;
}

.patient {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: var(--extra-small-gutter);
}

.patientName,
.patientNameOpen {
  margin: 0;
  padding: 0;
  color: var(--black-color);
  font-family: var(--basetica-black);
}

.patientName {
  font-size: var(--large-font-size);
  line-height: var(--large-font-line-height);
}

.patientNameOpen {
  font-size: var(--header-font-size);
  line-height: var(--header-line-height);
  margin-left: var(--small-gutter);
}
