.container,
.flex {
  display: flex;
  align-items: center;
}

.container {
  justify-content: space-between;
  margin-bottom: var(--small-gutter);
}

svg.icon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
