.container,
.user,
.detail {
  display: flex;
}

.container {
  padding: var(--small-gutter) var(--medium-gutter);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.container:hover {
  background: var(--highlight-background-color);
}

.detail {
  flex-direction: column;
  margin-left: var(--small-gutter);
}

.divider {
  margin: 0 var(--medium-gutter);
  height: 1px;
  background: var(--border-color);
}

.bottomMargin {
  margin-bottom: 5px;
}
