.button,
.flex {
  display: flex;
  align-items: center;
}

.button {
  position: absolute;
  top: 0;
  background: var(--black-color);
  padding: var(--small-gutter) var(--medium-gutter);
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background: var(--default-font-color);
}

.button h2 {
  color: var(--white-color);
  font-family: var(--basetica-medium);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--medium-large-font-size);
  margin: 0;
  margin-left: var(--extra-small-gutter);
}

svg.icon {
  height: var(--medium-gutter);
  width: var(--medium-gutter);
}
