.button {
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  padding: var(--small-gutter) var(--medium-gutter) 0;
}

.button:hover {
  background: var(--highlight-background-color);
}

.flex {
  display: flex;
  align-items: center;
}

.divider {
  height: 1px;
  background: var(--gray-background-color);
  margin-top: var(--small-gutter);
}

svg.icon {
  height: var(--medium-gutter);
  width: var(--medium-gutter);
  margin-right: var(--small-gutter);
}
