.container {
  height: 100%;
}

textarea.textarea {
  resize: none;
  border: none;
  padding: var(--medium-gutter);

  /* leave room for save and character count messages */
  height: calc(100% - 36px);
}
