.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--small-gutter);
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.alignRight {
  align-items: flex-end;
}

.message {
  word-break: break-word;
  border: 1px solid transparent;
  border-radius: var(--big-border-radius);
  padding: var(--extra-small-gutter);
  display: inline-block;
}

.toUser {
  align-self: flex-start;
  background: var(--white-color);
  border-color: var(--border-color);
}

.fromUser {
  align-self: flex-end;
  background: var(--gray-background-color);
  border-color: var(--gray-background-color);
}

.timestamp {
  margin-top: 5px;
}
