.container {
  height: 82px;
  border: 1px solid var(--red-color);
  border-radius: var(--border-radius);
  background: var(--white-color);
  padding: var(--small-gutter);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: inline;
}
