.container {
  background: white;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  color: var(--black-color);
  margin: 0 var(--small-gutter) 10px var(--small-gutter);
  position: relative;
}

.container.condensed {
  margin: 1px 0;
}

.container.condensed:last-child {
  margin-bottom: 0;
}

.container.highPriority {
  border-left: 4px solid var(--red-color);
}

.container.mediumPriority {
  border-left: 4px solid var(--yellow-color);
}

.container.lowPriority {
  border-left: 4px solid var(--border-color);
}

.container:last-child {
  margin-bottom: 0;
}

.container:hover {
  color: var(--black-color);
}

.selected {
  border: 1px solid var(--border-color);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: var(--roboto-medium-weight);
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.patientImage {
  margin-right: var(--extra-small-gutter);
  height: 35px;
  width: 35px;
}

.patientName {
  margin-bottom: 5px;
}

.followers {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid var(--gray-background-color);
}

.follower {
  text-align: center;
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-family: var(--roboto);
  border: 1px solid var(--border-color);
  background: var(--light-gray-font-color);
  color: white;
  font-size: var(--extra-small-font-size);
  padding-top: 2px;
}

.dateSection {
  border-left: 1px solid var(--gray-background-color);
}

.dueAtSection {
  min-width: 97px;
  text-align: right;
}

.dateSection:last-child {
  padding-right: 0;
}

.dateLabel {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
  margin-right: 10px;
}

.dateValue {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--black-color);
}

.dateValue.highlightRed {
  color: var(--red-color);
}

.openedAtSection {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid var(--gray-background-color);
}

.inactive {
  opacity: 0.4;
}

.compressed .meta {
  display: none;
}

.notificationBadge::before {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -24px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--red-color);
}
