@import '../../css/sizes';

.container {
  background: var(--white-font-color);
}

.bottomContainer {
  padding: var(--medium-gutter) var(--extra-small-gutter);
  height: calc(100vh - 110px);
  overflow-y: hidden;
}

.tasksList {
  display: inline-block;
  height: calc(100vh - 188px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  transition: width 0.3s ease-out;

  &:hover {
    cursor: pointer;
  }
}

.tasksList.compressed {
  width: 50%;
}

.tasksList.compressed .dateSection {
  padding: 0;
  border-left: none;
}

.tasksList.compressed .dateSection.openedAt {
  display: none;
}

.tasksList.emptyTasksList {
  width: 100%;

  &:hover {
    cursor: default;
  }
}

.taskContainer {
  width: 0%;
  overflow: hidden;
  display: inline-block;
  height: calc(100vh - 188px);
  vertical-align: top;
  transition: width 0.3s ease-out;
}

.taskContainer.visible {
  width: 50%;
  padding: 0 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.emptyTasksMessage {
  border: 1px dashed var(--border-color);
  border-radius: 4px;
  padding: 24px 40px 21px;
  margin: 5px var(--gutter) 0;
}

.emptyTasksLogo {
  background-image: url('../../../assets/generic-health-icon-grey.svg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  margin: 0 auto 13px;
}

.emptyTasksLabel {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
}

.tasksError {
  margin: 50px var(--gutter) 0;
}

.tasksErrorLabel {
  color: var(--default-font-color);
  font-family: var(--basetica-black);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  text-align: center;
  margin: 0 auto 10px;
}

.tasksErrorSubheading {
  color: var(--gray-font-color);
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  text-align: center;
  margin: 0 auto var(--medium-gutter);
  padding: 0 var(--small-gutter);
}

.tasksLoading {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  padding-top: var(--medium-gutter);
}

.search {
  margin-left: 10px;
}

.createContainer {
  align-self: center;
}
