@import '../../css/sizes';
.container {
  background: white;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #fff;
  color: var(--black-color);
  margin: 0 10px 10px 10px;
}

.container.condensed {
  margin: 1px 0;
}

.container.condensed:last-child {
  margin-bottom: 0;
}

.container.highPriority {
  border-left: 4px solid var(--red-color);
}

.container.mediumPriority {
  border-left: 4px solid var(--yellow-color);
}

.container.lowPriority {
  border-left: 4px solid var(--border-color);
}

.container:last-child {
  margin-bottom: 0px;
}

.container:hover {
  color: var(--black-color);
}

.selected {
  border: 1px solid var(--border-color);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: var(--roboto-medium-weight);
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.followers {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid var(--gray-background-color);
}

.follower {
  text-align: center;
  margin-left: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-family: var(--roboto);
  border: 1px solid var(--border-color);
  background: var(--light-gray-font-color);
  color: white;
  font-size: var(--extra-small-font-size);
  padding-top: 2px;
}

.assignedTo {
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding-top: 2px;
  border: 1px solid var(--border-color);
}

.dateSection {
  border-left: 1px solid var(--gray-background-color);
}

.dueAtSection {
  min-width: 97px;
  text-align: right;
}

.dateSection:last-child {
  padding-right: 0;
}

.dateLabel {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
  margin-right: 10px;
}

.dateValue {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--black-color);
}

.openedAtSection {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid var(--gray-background-color);
}
