.careTeamMember {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 2px;
  border: 1px solid var(--border-color);
  height: 80px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--small-gutter) var(--medium-gutter);
}

.careTeamMember:last-child {
  margin-bottom: 0;
}

.careTeamMemberData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.careTeamMemberBasicInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.careTeamMemberNameAndTitle,
.careTeamMemberContactInfo {
  margin-left: var(--small-gutter);
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.careTeamMemberNameAndTitle {
  min-width: 175px;
}

.careTeamMemberName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.careTeamMemberName svg {
  margin-left: 10px;
}

.careTeamMemberName.hiddenStar svg {
  display: none;
}
