.requiredTeamMember {
  width: 100%;
  color: var(--red-color);
  background-color: var(--highlight-background-color);
  border-radius: 2px;
  border: 1px dashed var(--red-color);
  height: 80px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--small-gutter);

  &:hover {
    cursor: pointer;
  }
}

.header {
  font-family: var(--basetica-medium);
}
