@import '../../../shared/css/sizes';

.container {
  font-size: var(--small-font-size);
  margin-bottom: 30px;
  flex: 1;
}

.title {
  font-family: var(--basetica-medium);
  color: var(--border-color);
}

.answer {
  margin-top: 10px;
  font-size: var(--medium-font-size);
  line-height: 22px;
}
