@import '../../../shared/css/sizes';

.container {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--white-color);
  margin: var(--small-gutter) 0;
  padding: var(--small-gutter);
}

.dashed {
  border-style: dashed;
}

.topBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}

.userSection {
  display: flex;
  font-family: var(--roboto);
  font-size: var(--small-font-size);
}

.userName {
  font-weight: var(--roboto-medium-weight);
  margin-right: 20px;
}

.userRole {
  color: var(--light-gray-font-color);
}

.dateSection {
  font-family: var(--roboto);
  font-size: var(--small-font-size);
}

.createdTime {
  margin-right: var(--small-gutter);
}

.titleSection {
  margin: var(--small-gutter) 0 0;
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: var(--basetica-black);
  font-size: var(--large-font-size);
  line-height: var(--large-font-line-height);
}

.summary {
  margin-top: 10px;
  white-space: pre-line;
}

.tabs {
  padding-left: 0;
  border-bottom: 1px solid var(--border-color);
}

.tabsNoBorder {
  border-bottom: 0 solid;
  height: auto;
}

.tabSection {
  margin: 0;
}

.answers {
  margin: 0;
}
