@import '../../../shared/css/sizes';

.supervisorBadge {
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  color: var(--border-color);
  border: 1px solid var(--border-color);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  padding: 4px 6px;
  display: inline-block;
  border-radius: 10px;
  vertical-align: top;
  margin-left: 8px;
}

svg.icon {
  width: 12px;
  height: 12px;
  fill: var(--green-color);
  vertical-align: middle;
}

.supervisorName {
  color: var(--gray-font-color);
  display: inline-block;
}
