@import '../../../shared/css/sizes';

.topBar {
  width: 100%;
  background: var(--teal-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.topBarLabel {
  margin-top: 4px;
  color: var(--white-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--default-font-size);
}

.middleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background: var(--white-font-color);
}

.error {
  color: var(--red-color);
  padding: 12px;
}

.patientContainer {
  display: flex;
  align-items: center;
}

.patientContainerRight {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.patientName {
  font-weight: var(--roboto-medium-weight);
  font-size: var(--medium-font-size);
}

.formBar {
  padding: 10px;
  width: 100%;
}

.formBarField > * {
  width: 50%;
}

.formBarField > label {
  padding-left: 12px;
}

.formBarField {
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.formBar legend {
  display: inline-block;
}

.textAreaContainer {
  padding: 12px;
}

.topRadioGroup {
  padding-left: 12px;
}

svg.whiteIcon {
  fill: #fff;
  opacity: 1;
  transition: opacity 0.3s;
  cursor: pointer;
}

svg.whiteIcon:hover {
  opacity: 0.7;
}

.fullRadioGroup {
  align-items: stretch;
}
