.container {
  background: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: var(--big-border-radius);
  padding: var(--small-gutter);
  margin-top: var(--small-gutter);
}

.container:last-child {
  margin-bottom: 80px;
}

.header,
.sourceInfo,
.dateInfo,
.pill,
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: var(--extra-small-gutter);
}

.pill {
  border: 1px solid var(--dark-border-color);
  border-radius: 12px;
  padding: 5px var(--extra-small-gutter);
}

.container h1 {
  margin: 0;
  font-family: var(--basetica-medium);
  font-size: var(--header-font-size);
  line-height: 32px;
  color: var(--black-color);
  font-weight: var(--roboto-medium-weight);
}

.rightMargin {
  margin-right: var(--small-gutter);
}

.topMargin,
.title {
  margin-top: var(--small-gutter);
}

.titleText {
  display: flex;
  align-items: center;
}

.dashed {
  border-style: dashed;
}
