@import '../../../shared/css/sizes';

.container {
  display: flex;
}

.container h5,
.container p {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  margin: 0;
}

.container h5 {
  color: var(--light-gray-font-color);
  font-weight: var(--default-font-weight);
  margin-right: var(--extra-small-gutter);
}

.container p {
  color: var(--black-color);
  font-weight: var(--roboto-medium-weight);
  min-width: 50px;
}
