.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h5 {
  color: var(--gray-font-color);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  font-weight: var(--default-font-weight);
  margin: 5px 0;
}
