.container {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0 var(--small-gutter);
  font-family: var(--roboto);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  width: 100%;
  height: var(--input-height);
  position: relative;
  cursor: pointer;
  transition: border 0.2s;
}

.container:hover {
  border-color: var(--blue-color);
}

.container input {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  font-size: var(--medium-font-size);
  line-height: var(--input-height);
  flex: 1;
  text-overflow: ellipsis;
}

.uploadText {
  flex-shrink: 0;
  padding-top: 15px;
}

.uploadText > p {
  font-family: var(--basetica-medium);
  color: var(--blue-color);
  display: inline-block;
  line-height: 22px;
}

.uploadText > svg {
  display: inline-block;
  margin-right: 5px;
  vertical-align: bottom;
}
