@import '../../shared/css/sizes';

.container {
  display: flex;
  background: var(--gray-background-color);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.leftPane {
  width: 320px;
}

.rightPane {
  width: calc(100% - 320px);
}
