.body {
  background-color: var(--gray-background-color);
  padding: 0 var(--medium-gutter);
  overflow: scroll;
  height: 100%;
  flex: 1;
}

.eventContainer {
  display: block;
  border-radius: 4px;
  background-color: var(--white-color);
  padding: var(--small-gutter);
  margin: var(--small-gutter) 0;
  border: 1px solid var(--border-color);
}

.datetime {
  color: var(--gray-font-color);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.datetime span:first-child {
  padding-right: 5px;
}

.eventTitle {
  padding-top: var(--extra-small-gutter);
  font-family: var(--basetica-medium);
}

.navBar {
  background: var(--dark-gray-background-color);
  height: 50px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0 var(--medium-gutter);
  justify-content: flex-end;
}

.button {
  margin-left: var(--extra-small-gutter);
}

.empty {
  text-align: center;
  padding-top: 100px;
  color: var(--gray-font-color);
  font-size: var(--medium-font-size);
}
