.container {
  overflow: auto;
  height: calc(100vh - 60px);
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topBar {
  padding: 0 var(--medium-gutter);
  height: 50px;
  background-color: var(--dark-gray-background-color);
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.button {
  margin-left: var(--extra-small-gutter);
}
