@import '../../../shared/css/sizes';

.container {
  background: var(--white-color);
  padding: 5px var(--extra-small-gutter);
  border: 1px solid var(--purple-color);
  border-radius: var(--rounded-border-radius);
  margin-left: var(--extra-small-gutter);
}

.container p {
  color: var(--gray-font-color);
  font-size: var(--small-font-size);
  font-weight: var(--roboto-medium-weight);
  margin: 0;
  padding: 0;
}

.blackBorder {
  border-color: var(--black-color);
}

.lightBlueBorder {
  border-color: var(--light-blue-color);
}
