@import '../../../css/sizes';

.textarea {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 16px var(--small-gutter);
  font-family: var(--roboto);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  height: 152px;
  outline: none;
  resize: vertical;
  width: 100%;
  transition: border 0.2s;
  box-sizing: border-box;

  &:active,
  &:hover,
  &:focus {
    border-color: var(--blue-color);
  }
}

.textarea::-webkit-input-placeholder {
  color: var(--light-gray-font-color);
}

.small {
  height: 50px;
  font-size: var(--default-font-size);
  border-radius: var(--big-border-radius);
}

.small::-webkit-input-placeholder {
  color: var(--gray-font-color);
}

.disabled {
  cursor: default;
  resize: none;
  color: var(--black-color);
  background: var(--gray-background-color);
  border-color: var(--gray-font-color);

  &:hover {
    border-color: var(--gray-font-color);
  }
}
