@import '../../shared/css/sizes';

.container {
  background: white;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #fff;
  color: var(--black-color);
  margin: 0 10px 10px 10px;
}

.title {
  font-weight: var(--roboto-medium-weight);
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.userDel {
  display: flex;
  justify-content: flex-end;
}

.dateSection {
  border-left: 1px solid var(--gray-background-color);
}

.dueAtSection {
  min-width: 97px;
  text-align: right;
}

.dateSection:last-child {
  padding-right: 0;
}

.dateLabel {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
  margin-right: 10px;
}

.dateValue {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--black-color);
}

.button {
  @apply --button;

  display: block;
  width: 180px;
  padding: 7px 0 3px;
  margin-bottom: 10px;
}

.buttonInverted {
  @apply --inverted-button;

  display: block;
  width: 180px;
  padding: 7px 0 3px;
  margin-bottom: 10px;
}

.popupHeading {
  font-size: var(--large-font-size);
  line-height: var(--large-font-line-height);
  text-align: center;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.select {
  min-width: 100px;
}
