@import '../../shared/css/sizes';
.container {
  flex: 1;
  order: 0;
  overflow: auto;
  justify-content: center;
  height: 100%;
  lost-center: var(--max-width);
}

.leftPane {
  background-color: var(--white-color);
  border-top: 1px solid var(--gray-background-color);
  border-left: 1px solid var(--gray-background-color);
  border-right: 1px solid var(--border-color);
  flex-basis: 25%;
  height: calc(100vh - 70px);
  overflow: scroll;
}

.mainBody {
  flex-basis: 100%;
}

.leftHeading {
  font-family: var(--basetica-black);
  font-size: var(--large-font-size);
  line-height: var(--large-font-line-height);
  color: var(--black-color);
}