.fieldRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.field {
  margin-right: var(--gutter);
  display: inline-block;
  width: 100%;
  margin-bottom: var(--small-gutter);
}
