.popup {
  border-radius: 4px;
}

.fields {
  padding: var(--medium-gutter);
  padding-top: 0;
  max-height: 500px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.text {
  color: var(--black-color);
  margin: 0;
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
}

.lessMargin {
  /* Kept getting overwritten :( */
  margin-bottom: var(--extra-small-gutter) !important;
}

.showAll {
  cursor: pointer;
}

.showAll p {
  margin: 0;
  padding-top: var(--medium-gutter);
  color: var(--light-blue-color);
  font-family: var(--basetica-medium);
  font-weight: var(--roboto-medium-weight);
  line-height: var(--medium-font-line-height);
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin-top: 50px;
}
