.container {
  border: 1px dashed var(--gray-font-color);
  border-radius: var(--big-border-radius);
  background: var(--highlight-background-color);
  display: flex;
  align-items: center;
  padding: var(--small-gutter);
  margin-bottom: var(--small-gutter);
  justify-content: space-between;
  cursor: pointer;
}

.container p {
  margin: 0;
  font-weight: var(--roboto-medium-weight);
  color: var(--black-color);

  /* Leave space for icon */
  width: calc(100% - 42px);
}

svg.icon {
  fill: var(--gray-font-color);
}

.rejected {
  border-color: var(--light-gray-font-color);
}

.rejected p {
  color: var(--light-gray-font-color);
}
