.container {
  display: inline-block;
  padding-right: 80px;
  margin-bottom: 20px;
  height: 70px;
}

.container:last-child {
  margin-bottom: 0;
}

.value {
  font-size: var(--medium-font-size);
  line-height: var(--large-font-line-height);
}

.correctedValue {
  color: var(--red-color);
  font-size: var(--small-font-size);
  line-height: var(--medium-large-font-line-height);
}

.label {
  display: inline-block;
}

svg.flag {
  fill: var(--red-color);
  width: 15px;
  height: 17px;
  vertical-align: bottom;
  margin-left: 5px;
}

.underlined {
  border-bottom: 1px dashed var(--border-color);
  cursor: pointer;
  font-size: var(--medium-font-size);
  line-height: var(--large-font-line-height);
}
