@import '../../../shared/css/sizes';

.field {
  width: 100%;
  margin-bottom: var(--gutter);
}

.field:last-child {
  margin-bottom: var(--extra-small-gutter);
}

.modalBody {
  padding: var(--medium-gutter);
}
