.patientForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: var(--medium-gutter);
}

.patientForm:last-child {
  padding-bottom: 0;
}

.patientForm .buttons {
  margin-right: var(--medium-gutter);
  width: 427px;
}

.patientForm .dateSection input[type='date'] {
  width: 274px;
}

.patientForm .dateSection.dimmed label {
  color: var(--light-gray-font-color);
}
