.saveMessage {
  display: inline-block;
  padding-right: 15px;
}

.saveError {
  padding-left: 3px;
}

svg.successIcon {
  fill: var(--blue-color);
}

.navBar {
  flex-shrink: 0;
  height: 50px;
}

.body {
  flex: 1;
  overflow: scroll;
}
