::-webkit-scrollbar {
  display: none;
}

.saveMessage {
  display: inline-block;
  padding-right: 15px;
}

.saveError {
  padding-left: 3px;
}

svg.successIcon {
  fill: var(--blue-color);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navBar {
  flex-shrink: 0;
  height: 50px;
}

.body {
  flex: 1;
  overflow: scroll;
}
