::-webkit-scrollbar {
  display: none;
}

.saveMessage {
  display: inline-block;
  padding-right: 15px;
}

.saveError {
  padding-left: 3px;
}

svg.successIcon {
  fill: var(--blue-color);
}

.container {
  position: relative;
}

.stickyTop {
  position: sticky;
  top: 0;
  z-index: 3;
}
