@custom-media --small-viewport (max-width: 900px);
@custom-media --large-viewport (min-width: 900px);
:root {
  --gutter: 40px;
  --small-gutter: 20px;
  --mobile: 500;
  --tablet: 700;
  --max-width: 1600px;
  --border-color: #cccccc;
  --gray-background-color: #F2F2F2;
  --blue-color: #2962FF;
  --teal-color: #66C5DD;
  --gray-font-color: #666666;
  --white-font-color: #F2F2F2;
  --default-font-color: #333333;
  --light-font-color: #666666;
  --highlight-background-color: #fafafa;
  --default-font-size: 14px;
  --default-line-height: 16px;
  --small-font-size: 12px;
  --small-font-line-height: 14px;
  --medium-font-size: 16px;
  --medium-font-line-height: 18px;
  --large-font-size: 24px;
  --large-font-line-height: 29px;
  --basetica-black-italic: "BaseticaBlackItalic", Helvetica, sans-serif;
  --basetica-black: "BaseticaBlack", Helvetica, sans-serif;
  --basetica-medium-italic: "BaseticaMediumItalic", Helvetica, sans-serif;
  --basetica-medium: "BaseticaMedium", Helvetica, sans-serif;
  --roboto: 'Roboto', Helvetica, sans-serif;
}

:root {
  --input {
    border: 1px solid var(--border-color);
    -webkit-style: none;
    background-color: transparent;
    font-size: 16px;
    border-radius: 0px;
    padding: 10px;
    outline: none;
  }
  --button {
    padding: 14px 64px 11px;
    border: 0px solid;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    background-color: var(--blue-color);
    color: white;
    font-family: var(--basetica-medium);
    font-size: var(--default-font-size);
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    border-radius: 2px;
    -webkit-appearance: none;
    user-select: none;
  }
  --inverted-button {
    padding: 14px 64px 11px;
    border: 1px solid var(--blue-color);
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    background-color: white;
    color: var(--blue-color);
    font-family: var(--basetica-medium);
    font-size: var(--default-font-size);
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    border-radius: 2px;
    -webkit-appearance: none;
    user-select: none;
  }
  --title {
    font-family: var(--basetica-black);
    font-size: var(--large-font-size);
    line-height: var(--large-font-line-height);
  }
  --label {
    font-family: var(--basetica-medium);
    font-size: var(--default-font-size);
    line-height: var(--medium-font-line-height);
  }
  --input {
    border: 1px solid var(--border-color);
    background-color: #FFFFFF;
    outline: none;
    padding: 16px 20px;
    font-family: var(--roboto);
    font-size: 16px;
    line-height: 19px;
  }
  --select {
    -webkit-appearance: none;
    border-radius: 0px;
    width: 100%;
    outline: none;
    border: 1px solid var(--border-color);
    background-color: #FFFFFF;
    outline: none;
    background-image: url('../../assets/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding: 16px 20px;
    font-family: var(--roboto);
    font-size: 16px;
    line-height: 19px;
  }
}
