@custom-media --small-viewport (max-width: 900px);
@custom-media --large-viewport (min-width: 900px);
:root {
  --gutter: 30px;
  --mobile: 500;
  --tablet: 700;
  --max-width: 1600px;
  --border-color: #cccccc;
  --blue-color: #2962FF;
  --teal-color: #66C5DD;
  --white-font-color: #F2F2F2;
  --default-font-color: #333333;
  --default-font-size: 14px;
  --default-line-height: 16px;
  --large-font-size: 24px;
  --large-font-line-height: 29px;
}

:root {
  --input {
    border: 1px solid var(--border-color);
    -webkit-style: none;
    background-color: transparent;
    font-size: 16px;
    border-radius: 0px;
    padding: 10px;
    outline: none;
  }
  --button {
    padding: 12px 64px;
    border: 0px solid;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    background-color: var(--blue-color);
    color: white;
    font-family: Basetica;
    font-size: var(--default-font-size);
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    border-radius: 0px;
    -webkit-appearance: none;
  }
  --title {
    font-size: var(--large-font-size);
    line-height: var(--large-font-line-height);
  }
}
