@import '../../css/sizes';

.container {
  position: relative;
}

.addFollower {
  width: var(--medium-gutter);
  height: var(--medium-gutter);
  border-radius: 50%;
  border: none;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../assets/add-follower-circle-grey.svg');

  &:hover {
    cursor: pointer;
  }
}

.addFollower.hidden {
  visibility: hidden;
}

.addError {
  position: absolute;
  right: 12px;
  background-image: url('../../../assets/error-circle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 14px;
  width: 14px;
  display: none;
}

.addError.visible {
  display: block;
}

.careTeam {
  position: absolute;
  bottom: 40px;
  width: 184px;
  height: 280px;
  background-color: var(--white-color);
  border: 1px solid var(--gray-background-color);
  border-radius: 2px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: var(--small-gutter) var(--small-gutter) 0;
}

.careTeam.assigneeCareTeam {
  bottom: initial;
  top: 40px;
  left: 0;
  z-index: 1;
}

.careTeam.hidden {
  display: none;
}

.careTeamMemberDetails {
  padding-bottom: var(--small-gutter);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  &:hover {
    cursor: pointer;
  }
}

.careTeamMemberLabel {
  display: flex;
  flex-direction: column;
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  color: var(--black-color);
  margin-left: 10px;
}

.careTeamMemberName {
  font-weight: var(--roboto-medium-weight);
  margin-bottom: 5px;
}

.careTeamMemberRole {
  color: var(--light-gray-font-color);
  font-weight: normal;
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
}
