@import '../../css/sizes';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline {
  font-size: var(--small-font-size);
  color: var(--light-gray-font-color);
  font-weight: var(--roboto-medium-weight);
  margin: 0;
}

.headline span {
  color: var(--black-color);
  margin-left: 5px;
}

.controls {
  display: flex;
  position: relative;
  align-items: center;
}

.hamburger, .close {
  width: 16px;
  height: 16px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}

.hamburger {
  margin-right: var(--medium-gutter);
  background-image: url('../../../assets/dot-hamburger-dark-grey.svg');
  transition: background-image 0.3s ease-out;

  &:hover {
    background-image: url('../../../assets/dot-hamburger-grey.svg');
  }
}

.close {
  background-image: url('../../../assets/close-dark-grey.svg');
  transition: background-image 0.3s ease-out;

  &:hover {
    background-image: url('../../../assets/close-grey.svg');
  }
}

.copySuccess {
  visibility: hidden;
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--blue-color);
  margin-right: 10px;
  margin-bottom: 0;
}

.visible {
  visibility: visible;
}