@import '../../css/sizes';

.container {
  background: var(--white-color);
  box-shadow: var(--drop-shadow);
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 1px;
  width: 100%;
  background: var(--gray-background-color);
  margin: 15px 0;
}

.task {
  padding: 20px;
}
