@import '../../css/sizes';

.select {
  background: var(--white-color);
  outline: none;
  font-family: var(--roboto);
  height: 34px;
  border: 1px solid var(--border-color);
  transition: border 0.2s linear;
  padding-left: 12px;
  border-radius: 2px;
  background-image: url('../../../assets/red-circle.svg'), url('../../../assets/down-arrow.svg');
  background-repeat: no-repeat;
  background-position-x: 78px, calc(100% - 20px);
  background-position-y: center;
  appearance: none;
  /* Give 18px space on right */
  width: calc(100% - 18px);

  &:hover, &:active {
    border-color: var(--blue-color);
  }
}

.yellow {
  background-image: url('../../../assets/yellow-circle.svg'), url('../../../assets/down-arrow.svg');
  background-position-x: 95px, calc(100% - 20px);
}

.grey {
  background-image: url('../../../assets/grey-circle.svg'), url('../../../assets/down-arrow.svg');
  background-position-x: 75px, calc(100% - 20px);
}

.error {
  border-color: var(--red-color);
}