@import '../../css/sizes';

.select {
  /* Give 18px space on right */
  width: calc(100% - 18px);
}

.yellow {
  background-image: url('../../../assets/yellow-circle.svg'), url('../../../assets/down-arrow.svg');
  background-position-x: 95px, calc(100% - 20px);
}

.grey {
  background-image: url('../../../assets/grey-circle.svg'), url('../../../assets/down-arrow.svg');
  background-position-x: 75px, calc(100% - 20px);
}

.red {
  background-image: url('../../../assets/red-circle.svg'), url('../../../assets/down-arrow.svg');
  background-position-x: 78px, calc(100% - 20px);
}

.error {
  border-color: var(--red-color);
}
