@import '../../css/sizes';

.dueDate {
  display: flex;
  align-items: center;
}

.dueDate input {
  width: 180px;
  height: 32px;
  position: relative;
  outline: none;
  border: 1px solid transparent;
  color: var(--black-color);
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--small-font-size);
  line-height: 13px;
  border-radius: 2px;
  transition: border 0.2s linear;

  &:hover {
    border: 1px solid var(--blue-color);
  }
}

.dueDate input:before {
  content: attr(data-date);
  display: inline-block;
  color: var(--black-color);
}

/* Removes placeholder text for date input */
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-text {
  color: transparent;
}

.dueDate input:before::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 9px;
  right: 2px;
  color: var(--black-color);
}

.dueDateIcon {
  width: 20px;
  height: 20px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../assets/calendar-light-grey.svg');
  margin: 0 7px 0 2px;
}

.dueSoonIcon {
  background-image: url('../../../assets/calendar-yellow.svg');
}

.pastDueIcon {
  background-image: url('../../../assets/calendar-red.svg');
}

.completeIcon {
  background-image: url('../../../assets/calendar-green.svg');
}