@import '../../css/sizes';

.dueDate {
  display: flex;
  align-items: center;
}

svg.icon {
  margin-right: 8px;
}

svg.dueSoonIcon {
  fill: var(--yellow-color);
}

svg.pastDueIcon {
  fill: var(--red-color);
}

svg.completeIcon {
  fill: var(--green-color);
}
