@import '../../css/sizes';

.button {
  background: var(--blue-color);
  border: 1px solid var(--blue-color);
  border-radius: 2px;
  color: var(--white-color);
  font-size: var(--default-font-size);
  font-family: var(--basetica-medium);
  font-weight: var(--roboto-medium-weight);
  width: 173px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background: var(--light-blue-color);
    border-color: var(--light-blue-color);
  }
}

.button p {
  margin: 0;
  padding-top: 2px;
}

.icon {
  display: none;
  background-image: url('../../../assets/green-check-mark-circle.svg');
}

.complete {
  background: var(--gray-background-color);
  border-color: var(--green-color);
  color: var(--gray-font-color);

  &:hover {
    background: var(--dark-gray-background-color);
    border-color: var(--green-color);
  }
}

.completeIcon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 6px;
}
