@import '../../css/sizes';

.viewForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 186px;
  border: 1px solid var(--blue-color);
  border-radius: var(--border-radius);
  margin: var(--small-gutter) 0;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: var(--highlight-background-color);
  }
}

.viewForm p {
  margin: 0;
  font-family: var(--basetica-medium);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  font-weight: var(--roboto-medium-weight);
  color: var(--blue-color);

  /* Deal with the weirdness of Basetica */
  margin-top: 2px;
}

svg.icon {
  fill: var(--blue-color);
  height: 15px;
  width: 15px;
  margin-right: var(--extra-small-gutter);
}
