@import '../../css/sizes';

.associations, .container {
  display: flex;
  width: 100%;
}

.associations {
  margin-bottom: 20px;
}

.container {
  margin-top: 20px;
}

.detail {
  width: 50%;
}

.detail h3, .label {
  color: var(--light-gray-font-color);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  font-weight: var(--roboto-medium-weight);
  margin: 0;
}

.detail h3:first-child, .label:first-child {
  margin: 0 0 5px;
}

.detail h3.black {
  color: var(--black-color);
  line-height: var(--default-line-height);
  font-weight: var(--default-font-weight);
}

.relative {
  position: relative;
}