@import '../../css/sizes';

.dueDate {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.dueSoonIcon {
  fill: var(--yellow-color);
}

.pastDueIcon {
  fill: var(--red-color);
}

.completeIcon {
  fill: var(--green-color);
}
