@import '../../css/sizes';

.container h3,
.container a.link,
.text,
.label,
.textMarginRight {
  font-size: var(--small-font-size);
  line-height: var(--default-line-height);
  font-weight: var(--default-font-weight);
  font-family: var(--roboto);
  margin: 0;
  margin-bottom: 5px;
}

.container h3,
.text,
.textMarginRight {
  color: var(--black-color);
}

.container a.link {
  color: var(--blue-color);
}

.flex {
  display: flex;
}

.label {
  margin-right: 5px;
}

.textMarginRight {
  margin-right: var(--extra-small-gutter);
}
