@import '../../css/sizes';
.container {
  background: white;
  border: 1px solid var(--gray-background-color);
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  min-height: 568px;
}

.container.deleteConfirmationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskContainer.hidden {
  display: none;
}

.loading {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  padding-top: var(--medium-gutter);
}

.loadingError {
  display: flex;
  flex-direction: column;
  margin: 50px var(--medium-gutter) 0;
}

.loadingErrorIcon, .deleteConfirmationIcon {
  background-image: url('../../../assets/error-circle.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.loadingErrorIcon {
  height: 20px;
  width: 20px;
  margin: 0 auto 13px;
}

.deleteConfirmationIcon {
  height: 30px;
  width: 30px;
  margin-bottom: var(--small-gutter);
}

.loadingErrorLabel {
  color: var(--default-font-color);
  font-family: var(--basetica-black);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  text-align: center;
  margin: 0 auto 10px;
}

.loadingErrorSubheading {
  color: var(--gray-font-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  text-align: center;
  margin: 0 auto var(--medium-gutter);
  padding: 0 var(--small-gutter);
}

.invertedButton {
  @apply --inverted-button;
}

.loadingErrorButton {
  width: 94px;
  height: 32px;
  margin: 0 auto;
  padding: 9px 0 0 0;
  text-align: center;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.borderTop {
  border-top: 1px solid var(--gray-background-color);
}

.infoRow, .infoRowLeft {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  margin: 0 var(--small-gutter);
  border-bottom: 1px solid var(--gray-background-color);
}

.infoRow {
  justify-content: space-between;
}

.infoRowLeft {
  justify-content: flex-start;
  padding: 5px 0;
  margin-left: 15px;
}

.priorityRow {
  padding: 6px 0;
}

.dueDateRow {
  padding: 5px 0;
}

.taskHeader {}

.patientInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  color: var(--black-color);
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.avatar {
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hamburger, .close {
  width: 12px;
  height: 12px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}

.hamburger {
  margin-right: var(--medium-gutter);
  background-image: url('../../../assets/dot-hamburger-grey.svg');
}

.close {
  background-image: url('../../../assets/close-grey.svg');
}

.assignee {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px;
  transition: border .2s linear;
}

.assignee.blueBorder {
  border: 1px solid var(--blue-color);
}

.assignee .name {
  margin-right: 10px;
}

.smallText, .darkSmallText {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
}

.smallText {
  color: var(--gray-font-color);
}

.darkSmallText {
  color: var(--black-color);
}

.redText {
  color: var(--red-color);
}

.dueDate {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

input[type='date'].dueDateInput {
  width: 100px;
  height: 30px;
  position: relative;
  outline: none;
  border: 1px solid transparent;
  color: var(--black-color);
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--extra-small-font-size);
  line-height: 13px;
  border-radius: 4px;
  transition: border 0.2s linear;
}

input[type='date'].dueDateInput:before {
  content: attr(data-date);
  display: inline-block;
  color: var(--black-color);
  padding-left: 4px;
}

input[type='date'].dueDateInput::-webkit-datetime-edit,
input[type='date'].dueDateInput::-webkit-inner-spin-button,
input[type='date'].dueDateInput::-webkit-clear-button {
  display: none;
}

input[type='date'].dueDateInput::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 9px;
  right: 2px;
  color: var(--black-color);
}

.dueDateIcon {
  width: 16px;
  height: 16px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../assets/calendar-dark-grey.svg');
  margin: 0 7px 0 2px;
}

.markCompletion {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width:1025px) {
  .markCompletion:hover .markCompletionIcon {
    background-image: url('../../../assets/green-check-mark-circle.svg');
  }

  .markCompletion.completedIcon:hover .markCompletionIcon {
    background-image: url('../../../assets/grey-check-mark-circle.svg');
  }

  .assignee:hover {
    cursor: pointer;
    border: 1px solid var(--blue-color);
  }

  .prioritySelect:hover {
    cursor: pointer;
    border: 1px solid var(--blue-color);
  }

  input[type='date'].dueDateInput:hover {
    cursor: pointer;
    border: 1px solid var(--blue-color);
  }

  input[type='date'].dueDateInput:hover input.dueDateInput::-webkit-calendar-picker-indicator {
    opacity: 1;
  }

  input.dueDateInput::-webkit-calendar-picker-indicator:hover {
    background-color: var(--white-color);
  }

  .largeText.title:hover {
    cursor: pointer;
    border: 1px solid var(--blue-color);
  }

  .bodyText:hover {
    cursor: pointer;
    border: 1px solid var(--blue-color);
  }
}

.markCompletionText {
  user-select: none;
  color: var(--blue-color);
  font-family: var(--basetica-medium);
  font-size: var(--small-font-size);
  line-height: var(--default-line-height);
  margin-right: 10px;
}

.markCompletion.completedIcon .markCompletionText {
  color: var(--green-color);
}

.markCompletion .markCompletionIcon {
  width: 15px;
  height: 15px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../assets/grey-check-mark-circle.svg');
}

.markCompletion.completedIcon .markCompletionIcon {
  background-image: url('../../../assets/green-check-mark-circle.svg');
}

.markCompletionError {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}

.markCompletionError.hidden {
  visibility: hidden;
}

.markCompletionError .redText {
  margin-right: 3px;
}

.markCompletionError .smallText {
  line-height: 14px;
}

.taskBody {
  display: flex;
  flex-direction: column;
  color: var(--black-color);
  margin: 10px 0 var(--small-gutter);
}

.largeText.title {
  margin: 0 10px 4px;
  padding: 10px 10px 6px;
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border .2s linear;
}

.largeText.title.hidden {
  display: none;
}

.largeTextEditor {
  margin: 0 10px 1px;
}

.descriptionTextEditor {
  margin: 4px 10px -3px;
}

.largeTextEditor textarea {
  width: 100%;
  padding: 10px 10px 6px;
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  outline: none;
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  resize: none;
  word-wrap: break-word;
}

.descriptionTextEditor textarea {
  width: 100%;
  padding: 6px 10px;
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--body-copy-line-height);
  outline: none;
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  resize: none;
  word-wrap: break-word;
}

.largeTextEditor.error textarea {
  border: 1px solid var(--red-color);
}

.descriptionTextEditor.error textarea {
  border: 1px solid var(--red-color);
}

.largeTextEditor.hidden {
   display: none;
}

.descriptionTextEditor.hidden {
  display: none;
}

.okrInfo {
  display: flex;
  flex-direction: column;
  margin: 0 var(--small-gutter);
}

.okrRow {
  display: flex;
  flex-direction: row;
}

.okrRow .smallText {
  margin-right: 10px;
}

.okrRow:first-child {
  margin-bottom: 5px;
}

.okrRow:first-child .smallText {
  margin-right: 13px;
}

.bodyText {
  margin: 4px 10px 0 10px;
  color: var(--black-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--body-copy-line-height);
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border .2s linear;
}

.bodyText.hidden {
  display: none;
}

.attachments {
  margin: var(--small-gutter) var(--small-gutter) 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.emptyAttachments {
  height: 10px;
}

.attachment {
  color: var(--light-blue-color);
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  margin-right: var(--small-gutter);
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }
}

.priorityInfo, .typeInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.priorityIcon, .typeIcon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.typeIcon {
  margin-right: 10px;
}

.typeText {
  color: var(--black-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}

.priorityIcon {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  background-image: url('../../../assets/priority-icon-grey.svg');
}

.priorityIcon.mediumPriorityIcon {
   background-image: url('../../../assets/priority-icon-yellow.svg');
}

.priorityIcon.highPriorityIcon {
   background-image: url('../../../assets/priority-icon-red.svg');
}

.typeIcon {
  width: 15px;
  height: 10px;
  background-image: url('../../../assets/type-icon-black.svg');
}

.taskFollowers {
  display: flex;
  flex-direction: column;
  margin: 0 var(--small-gutter) 10px;
}

.followersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 50%;
}

.followersList .avatar {
  margin-bottom: 10px;
}

.hamburgerMenu {
  display: none;
  position: absolute;
  top: 0;
  left: -64px;
  width: 175px;
  margin-top: 25px;
  padding: 20px;
  background-color: var(--highlight-background-color);
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.15);
  border: 1px solid var(--gray-background-color);
  border-radius: 2px;
  user-select: none;
}

.hamburgerMenu.visible {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.hamburgerMenu .menuRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--gray-background-color);
  padding: 20px 0;

  &:hover {
    cursor: pointer;
  }
}

.hamburgerMenu .menuRow:first-child {
  padding-top: 0;
}

.hamburgerMenu .menuRow:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.hamburgerMenu .menuLabel {
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  color: var(--default-font-color);
}

.shareIcon, .paperclipIcon, .trashIcon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
  width: 14px;
}

.shareIcon {
  height: 15px;
  background-image: url('../../../assets/share-icon-grey.svg');
}

.paperclipIcon {
  height: 17px;
  background-image: url('../../../assets/paperclip-icon-grey.svg');
}

.trashIcon {
  height: 14px;
  background-image: url('../../../assets/trash-icon-grey.svg');
}

.copySuccess {
  visibility: hidden;
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--blue-color);
  margin-right: 10px;
}

.copySuccess.visible {
  visibility: visible;
}

.deleteConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.deleteConfirmation.hidden {
  display: none;
}

.deleteConfirmationText {
  color: var(--default-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-line-height);
  line-height: var(--medium-font-line-height);
  margin-bottom: 10px;
}

.deleteConfirmationSubtext {
  color: var(--gray-font-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  margin: 0 80px var(--medium-gutter);
}

.deleteConfirmationButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.deleteCancelButton, .deleteConfirmButton {
  height:32px;
  width: 94px;
  padding: 9px;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.deleteConfirmButton {
  @apply --red-button;
  padding: 9px;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.deleteCancelButton {
  margin-right: var(--small-gutter);
}

.deleteError {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--medium-gutter);
}

.deleteError .redText {
  margin-right: 3px;
}

.deleteError .smallText {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.deleteError.hidden {
  visibility: hidden;
}

.changeAssigneeError {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: var(--small-gutter);
}

.changeAssigneeError.hidden {
  display: none;
}

.changeAssigneeError .redText {
  margin-right: 3px;
}

.prioritySelect {
  outline: none;
  border: 1px solid transparent;
  background: transparent;
  -webkit-appearance: none;
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  transition: border .2s linear;
  padding: 4px;
}

