@import '../../css/sizes.css';

.title {
  font-family: var(--basetica-medium);
  font-weight: var(--roboto-medium-weight);
  margin: 20px 0 10px 3px;
  font-size: 21px;
  line-height: 25px;
  color: var(--black-color);
  transition: border 0.2s linear;
}

.description {
  color: var(--gray-font-color);
  font-size: var(--default-font-size);
  line-height: var(--body-copy-line-height);
  margin-left: 3px;
  margin-top: 10px;
  transition: border 0.2s linear;
}

.editTitle,
.editDescription {
  width: 100%;
  outline: none;
  border: 1px solid var(--blue-color);
  border-radius: 2px;
  resize: none;
  word-wrap: break-word;
}

.editTitle {
  font-family: var(--basetica-medium);
  font-size: 21px;
  font-weight: var(--roboto-medium-weight);
  line-height: 25px;
  margin-top: 2px;
}

.editDescription {
  margin-top: -3px;
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--body-copy-line-height);
  color: var(--gray-font-color);
  margin-bottom: 3px;
}

.error {
  border: 1px solid var(--red-color);
}

.hide {
  display: none;
}

/* Ensure that description doesn't 'jump' during title edit */
.noJump {
  margin-top: 8px;
}
