@import '../../css/sizes';

.smallText,
.errorText {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--gray-font-color);
}

.divider {
  border-bottom: 1px solid var(--gray-font-color);
  padding-bottom: 10px;
}

.commentDate .error {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.error.hidden {
  visibility: hidden;
}

.errorText {
  color: var(--red-color);
}

.commentDate .errorText {
  margin-right: 3px;
}

.taskComments {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 15px 20px 20px;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid var(--border-color);
  background: var(--gray-background-color);
  box-sizing: border-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.addComment {
  position: relative;
}

.addComment textarea {
  resize: none;
  width: 100%;
  height: 50px;
  font-family: var(--roboto);
  color: var(--black-color);
  font-size: var(--small-font-size);
  line-height: var(--body-copy-line-height);
  padding: 10px var(--medium-gutter) 10px var(--small-gutter);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;

  &::placeholder {
    color: var(--gray-font-color);
  }

  &:focus {
    border: 1px solid var(--light-blue-color);
  }
}

.commentsList,
.comment {
  display: flex;
  flex-direction: column;
}

.commentsList {
  margin-top: var(--small-gutter);
}

.comment {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  word-wrap: break-word;
}

.commentBodyEdit {
  visibility: hidden;
}

.comment.editable:hover {
  cursor: pointer;
}

.comment.editable:hover .commentBody {
  border: 1px solid var(--blue-color);
}

.comment .commentEditArea {
  display: none;
}

.comment.editable.editing .commentEditArea {
  display: flex;
}

.comment.editable.editing .commentBody {
  display: none;
}

.commentEditArea textarea {
  resize: none;
  width: 100%;
  outline: none;
  border: 1px solid var(--blue-color);
  border-radius: 2px;
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  line-height: var(--medium-font-line-height);
  color: var(--gray-font-color);
  padding: 5px 10px;
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.comment:first-child {
  margin-top: 0;
}

.comment:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.commentBody p:last-child {
  margin-bottom: 0;
}

.commentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.commentAuthor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.commentAuthor .name {
  font-weight: normal;
  margin-right: 10px;
}

.commentDate {
  display: flex;
  flex-direction: space-between;
  text-align: right;
}

.commentBody {
  color: var(--gray-font-color);
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  line-height: var(--medium-font-line-height);
  margin-left: var(--small-gutter);
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: border 0.2s linear;
}

.commentsError {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 12px;
}

.commentsError .redText {
  margin-right: 3px;
}

.commentsError .reloadIcon {
  margin-left: 3px;
}

.reloadIcon {
  background-image: url('../../../assets/refresh-icon-grey.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.reload {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.addCommentError {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2px;
}

.addCommentError.hiddenError {
  visibility: hidden;
}

.addCommentError .redText {
  margin-right: 3px;
}
