@import './sizes';

.container {
  background: white;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  min-height: 535px;
  margin-bottom: 10px;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.8);
  align-items: center;
  display: flex;
}

.loadingHidden {
  display: none;
}

.loadingContainer {
  width: 100%;
  justify-content: center;
  display: flex;
}

.formBottom {
  margin: 20px;
}

.error {
  color: var(--red-color);
}

.formBottomContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formTop {
  display: flex;
  border-bottom: 1px solid var(--white-font-color);
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.inputGroup {
  border-bottom: 1px solid var(--white-font-color);
}

.inputGroup input, .inputGroup textarea, .inputGroup select {
  margin-bottom: 10px;
}

.flexInputGroup {
  border-bottom: 1px solid var(--white-font-color);
  padding: 0px 0px 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.flexInputItem {
  lost-column: 1/2 2 20px;
}

.submitButton {
  @apply --button;
  @apply --small-button;
}

.cancelButton {
  @apply --inverted-button;
  @apply --small-button;
  margin-right: 20px;
}

.smallSection {
  display: flex;
  align-items: center;
}

.smallImage {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-size: cover;
}

.smallText {
  padding: 10px 6px;
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  font-weight: var(--roboto-medium-weight);
}

.close {
  background: url('../../assets/close.svg');
  height: 18px;
  width: 18px;
  background-position: top center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 6px;
}

.formCenter {
  padding: 10px 20px 0px;
}