.sort {
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  display: flex;
}

.label {
  width: 80px;
  padding-right: 10px;
  text-align: right;
}

.dropdown {
  width: 173px;
}

.sortSearchBar {
  padding: 0 var(--medium-gutter);
  height: 50px;
  background-color: var(--dark-gray-background-color);
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.sortLabel {
  color: var(--gray-font-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  padding-right: 10px;
}

.sortDropdown {
  color: var(--black-color);
  font-family: var(--roboto);
}

.search {
  color: var(--black-color);
  font-family: var(--roboto);
}

.searchLeftPad {
  margin-left: 10px;
}

.search input[type='text'] {
  width: 273px;
  height: 32px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  padding-left: 20px;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  outline: none;

  &::placeholder {
    color: var(--light-gray-font-color);
  }
}
