@import './sizes';
.tabs {
  padding: var(--small-gutter) var(--medium-gutter) 0;
  border-bottom: 1px solid var(--border-color);
  height: 50px;
  background-color: var(--white-color);
  justify-content: flex-start;
  lost-flex-container: row;
}

.tab {
  font-family: var(--basetica-medium);
  font-size: var(--default-font-size);
  line-height: var(--small-font-line-height);
  color: var(--gray-font-color);
  margin-right: var(--medium-gutter);
  padding-right: 5px;

  &.selectedTab {
    color: var(--blue-color);
    border-bottom: 4px solid var(--blue-color);
  }

  &:hover {
    cursor: pointer;
  }
}

.relativeTab {
  position: relative;
}

.pane {
  display: none;

  &.selectedPane {
    display: block;
  }
}

.notificationBadge {
  display: none;
  position: absolute;
  top: -6px;
  left: -8px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--red-color);
}

.notificationBadge.visible {
  display: block;
}
