@import '../../shared/css/sizes';

.container {
  background: white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}

.container.deleteConfirmationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemContainer.hidden {
  display: none;
}

.loading {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  padding-top: var(--medium-gutter);
}

.loadingError {
  display: flex;
  flex-direction: column;
  margin: 50px var(--medium-gutter) 0;
}

.loadingErrorIcon,
.deleteConfirmationIcon {
  background-image: url('../../assets/error-circle.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.loadingErrorIcon {
  height: 20px;
  width: 20px;
  margin: 0 auto 13px;
}

.deleteConfirmationIcon {
  height: 30px;
  width: 30px;
  margin-bottom: var(--small-gutter);
}

.loadingErrorLabel {
  color: var(--default-font-color);
  font-family: var(--basetica-black);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  text-align: center;
  margin: 0 auto 10px;
}

.loadingErrorSubheading {
  color: var(--gray-font-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  text-align: center;
  margin: 0 auto var(--medium-gutter);
  padding: 0 var(--small-gutter);
}

.invertedButton {
  @apply --inverted-button;
}

.loadingErrorButton {
  width: 94px;
  height: 32px;
  margin: 0 auto;
  padding: 9px 0 0 0;
  text-align: center;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.borderTop {
  border-top: 1px solid var(--gray-background-color);
}

.infoRow {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  margin: 0 var(--small-gutter);
  border-bottom: 1px solid var(--gray-background-color);
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.close {
  height: 12px;
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  background-image: url('../../assets/close-grey.svg');
  padding-left: 20px;
  padding-right: 20px;

  &:hover {
    cursor: pointer;
  }
}

.menuItem {
  border-left: 1px solid var(--gray-background-color);
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.trashIcon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
  width: 14px;
  height: 14px;
  background-image: url('../../assets/trash-icon-grey.svg');
}

.menuLabel,
.close {
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  color: var(--default-font-color);
}

.smallText {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--gray-font-color);
}

.redText {
  color: var(--red-color);
}

.itemBody {
  display: flex;
  flex-direction: column;
  color: var(--black-color);
  margin: 10px 0 var(--small-gutter);
  padding: 0 20px 20px;
}

.largeText.title {
  margin: 0 0 4px;
  padding: 10px 0 6px;
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border 0.2s linear;
}

.hidden {
  display: none !important;
}

.largeTextEditor {
  margin: 0 0 1px;
}

.largeTextEditor input {
  width: 100%;
  padding: 10px 10px 6px;
  font-family: var(--basetica-medium);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  outline: none;
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  resize: none;
  word-wrap: break-word;
}

.largeTextEditor.error input {
  border: 1px solid var(--red-color);
}

.largeTextEditor.hidden {
  display: none;
}

.borderContainer {
  border: 1px solid var(--light-gray-font-color);
  padding: var(--small-gutter);
  width: 100%;
  border-radius: 5px;
  margin: var(--small-gutter) 0;
}

.bodyText {
  margin: 4px 10px 0 10px;
  color: var(--black-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--body-copy-line-height);
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border 0.2s linear;
}

.bodyText.hidden {
  display: none;
}

.deleteConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.deleteConfirmation.hidden {
  display: none;
}

.deleteConfirmationText {
  color: var(--default-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-line-height);
  line-height: var(--medium-font-line-height);
  margin-bottom: 10px;
}

.deleteConfirmationSubtext {
  color: var(--gray-font-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  margin: 0 80px var(--medium-gutter);
}

.deleteConfirmationButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.deleteCancelButton,
.deleteConfirmButton {
  height: 32px;
  width: 94px;
  padding: 9px;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.deleteConfirmButton {
  @apply --red-button;

  padding: 9px;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.deleteCancelButton {
  margin-right: var(--small-gutter);
}

.deleteError {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--medium-gutter);
}

.deleteError .redText {
  margin-right: 3px;
}

.deleteError .smallText {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.deleteError.hidden {
  visibility: hidden;
}

ul.smallMarginPadding {
  padding-left: 45px;
  margin-bottom: 2px;
}

ul.extraSmallMarginPadding {
  padding-left: 25px;
  margin-bottom: 2px;
}

.smallMargin {
  margin-bottom: 5px;
}

.indented {
  margin-left: 15px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.deleteSuggestionButton {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  background-image: url('../../assets/close-grey.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}

.uneditable {
  color: var(--red-color);
}
