@import '../../../css/sizes';

.tab {
  color: var(--gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--default-font-size);
  line-height: var(--medium-font-line-height);
  font-weight: var(--roboto-medium-weight);
  margin: 16px var(--medium-gutter) 0 0;
  padding-bottom: 12px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  position: relative;
  transition: color 0.2s, border-color 0.2s;
}

.tab:hover {
  color: var(--blue-color);
}

.tab.selected {
  color: var(--blue-color);
  border-color: var(--blue-color);
}

.notificationBadge {
  position: absolute;
  top: -6px;
  left: -8px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--red-color);
}
