.listContainer {
  margin-right: var(--gutter);
  background-color: var(--red-color);
}

.listItem {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.pokemonImg {
  height: 40px;
  width: auto;
}

.pokemonChild {
  padding: var(--gutter) 5px 0 5px;
  background-color: var(--blue-color);
}