.container {
  background-color: var(--gray-background-color);
  padding: 0 var(--medium-gutter);
  overflow: scroll;
  height: 100%;
  flex: 1;
}

.eventContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: var(--white-color);
  padding: var(--small-gutter);
  margin: var(--small-gutter) 0;
  border: 1px solid var(--border-color);
}

.meta {
  color: var(--gray-font-color);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.meta .element {
  padding-right: var(--medium-gutter);
}

.eventIcon {
  margin-left: 5px;
  margin-right: var(--medium-gutter);
}

.eventTitle {
  padding-top: var(--extra-small-gutter);
  font-family: var(--basetica-medium);
}

.eventBody {
  flex: 1;
}

.menu {
  flex-shrink: 0;
}

.empty {
  text-align: center;
  padding-top: 100px;
  color: var(--gray-font-color);
  font-size: var(--medium-font-size);
}

.light {
  padding-left: 5px;
  color: var(--light-gray-font-color);
}
