@import '../../../css/sizes';

.select {
  background: var(--white-color);
  outline: none;
  font-family: var(--roboto);
  height: 34px;
  border: 1px solid var(--border-color);
  transition: border 0.2s linear;
  padding-left: var(--small-gutter);
  border-radius: var(--border-radius);
  background-image: url('../../../../assets/down-arrow.svg');
  width: 100%;
  cursor: pointer;
  appearance: none;

  &:hover,
  &:active {
    border-color: var(--blue-color);
  }
}

.large {
  height: 50px;
  font-size: var(--default-font-size);
  border-radius: var(--big-border-radius);
}

.disabled {
  cursor: default;
  color: var(--black-color);
  background: var(--gray-background-color);
  border-color: var(--gray-font-color);
  background-image: url('../../../../assets/down-arrow-dark-grey.svg');

  &:hover {
    border-color: var(--gray-font-color);
  }
}

.select,
.disabled {
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: center;
}
