@font-face {
  font-family: 'BaseticaBlackItalic';
  src: url('../../assets/fonts/basetica-black-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'BaseticaBlack';
  src: url('../../assets/fonts/basetica-black.woff2') format('woff2');
}

@font-face {
  font-family: 'BaseticaMediumItalic';
  src: url('../../assets/fonts/basetica-medium-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'BaseticaMedium';
  src: url('../../assets/fonts/basetica-medium.woff2') format('woff2');
}

:root {
  --gutter: 40px;
  --medium-gutter: 30px;
  --small-gutter: 20px;
  --extra-small-gutter: 10px;
  --header-height: 60px;
  --mobile: 500;
  --tablet: 700;
  --max-width: 1600px;
  --border-color: #ccc;
  --dark-border-color: #666;
  --gray-background-color: #f2f2f2;
  --lightbox-background-color: #131c34;
  --dark-gray-background-color: #e6e6e6;
  --white-color: #fff;
  --black-color: #000;
  --navy-color: #0034c2;
  --blue-color: #2962ff;
  --light-blue-color: #8fadff;
  --red-color: #ff715b;
  --red-hover-color: #ffa799;
  --green-color: #85d578;
  --teal-color: #66c5dd;
  --yellow-color: #ffd900;
  --gray-font-color: #666;
  --light-gray-font-color: #ccc;
  --white-font-color: #f2f2f2;
  --default-font-color: #333;
  --highlight-background-color: #fafafa;
  --purple-color: #916cab;
  --login-drop-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.15), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  --popup-background-color: rgba(19, 28, 52, 0.65);
  --default-font-size: 14px;
  --default-line-height: 16px;
  --extra-small-font-size: 10px;
  --extra-small-font-line-height: 11px;
  --small-font-size: 12px;
  --small-font-line-height: 14px;
  --medium-font-size: 16px;
  --medium-font-line-height: 19px;
  --medium-large-font-size: 18px;
  --medium-large-font-line-height: 24px;
  --large-font-size: 24px;
  --large-font-line-height: 29px;
  --body-copy-line-height: 20px;
  --header-font-size: 21px;
  --header-line-height: 25px;
  --basetica-black-italic: 'BaseticaBlackItalic', Helvetica, sans-serif;
  --basetica-black: 'BaseticaBlack', Helvetica, sans-serif;
  --basetica-medium-italic: 'BaseticaMediumItalic', Helvetica, sans-serif;
  --basetica-medium: 'BaseticaMedium', Helvetica, sans-serif;
  --roboto: 'Roboto', Helvetica, sans-serif;
  --roboto-medium-weight: 500;
  --default-font-weight: 400;
  --bold-font-weight: 500;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --big-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  --drop-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.15);
  --light-blue-hover: rgba(143, 173, 255, 0.1);
  --white-opaque: rgba(255, 255, 255, 0.4);
  --black-opaque: rgba(0, 0, 0, 0.4);
  --light-blue-opaque: rgba(143, 173, 255, 0.4);
  --red-opaque: rgba(255, 113, 91, 0.4);
  --yellow-opaque: rgba(255, 217, 0, 0.4);
  --border-opaque: rgba(204, 204, 204, 0.4);
  --rounded-border-radius: 12px;
  --big-border-radius: 4px;
  --border-radius: 2px;
  --input-height: 52px;
  --editable-title-height: 28px;
  --sidebar-z-index: 5;
  --modal-z-index: 10;
  --progress-note-z-index: 11;
}

/*
 * Add any global styles here
 */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  width: 100%;
}

html,
body {
  padding: 0;
  letter-spacing: 0;
  background: inherit;
  color: var(--default-font-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-weight: normal;
  font-style: normal;
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

a {
  color: var(--light-blue-color);
  transition: color 0.6s;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--blue-color);
  transition: color 0.3s;
  text-decoration: none;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

img {
  max-width: 100%;
}

#app {
  height: 100%;
}

.app {
  flex: 1;
  display: flex;
}
