.container {
  background: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: var(--big-border-radius);
  margin-bottom: var(--extra-small-gutter);

  &:last-child {
    margin-bottom: 0;
  }
}

.container h2 {
  color: var(--black-color);
  font-size: 21px;
  font-weight: var(--roboto-medium-weight);
  line-height: var(--medium-large-font-line-height);
  margin: 0;
}

.link {
  padding: var(--extra-small-gutter) var(--small-gutter);
  width: 100%;
  display: block;
}

.flex,
.dates {
  display: flex;
}

.flex {
  margin-top: var(--extra-small-gutter);
  justify-content: space-between;
  align-items: flex-end;
}

.dates {
  align-items: center;
}

.alignEnd {
  justify-content: flex-end;
  min-width: 300px;
}

.date {
  margin-right: var(--small-gutter);
}

.detail {
  margin: 0;
  color: var(--gray-font-color);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.greenBorder {
  border-left: 4px solid var(--green-color);
}

.yellowBorder {
  border-left: 4px solid var(--yellow-color);
}

.redBorder {
  border-left: 4px solid var(--red-color);
}

.noLink a {
  cursor: default;
}
