@import '../../../shared/css/sizes';

.container {
  background: var(--gray-background-color);
  height: calc(100vh);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.spinner {
  margin-top: var(--gutter);
}

.body {
  display: flex;
  padding: var(--small-gutter) var(--medium-gutter);
  justify-content: space-between;

  /* give room for fixed tabs */
  margin-top: 50px;
}

.domains {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
}
