@import '../../../shared/css/sizes';

.spinner {
  margin-top: var(--gutter);
}

.scroll,
.body,
.bodyFlex {
  height: calc(100vh);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: var(--gray-background-color);
}

.body,
.bodyFlex {
  padding: 0 var(--medium-gutter);
}

.bodyFlex {
  display: flex;
  justify-content: space-between;
}

.domains {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
}
