.spinner {
  margin-top: var(--gutter);
}

.scroll, .body, .bodyFlex {
  background: var(--gray-background-color);
}

.scroll, .domains {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.paddedScroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: var(--medium-gutter) 0 100px;
}

.body, .bodyFlex {
  padding: 0 var(--medium-gutter);
  height: 100%;
}

.bodyFlex, .flex {
  display: flex;
  justify-content: space-between;
}

.body {
  flex: 1;
}

.domains {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navBar {
  flex-shrink: 0;
  height: 50px;
}
