@import '../../css/sizes';

.hidden {
  display: none;
}

.patientConcernGroup {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.patientConcernGroup:last-child {
  margin-bottom: 0;
}

.patientConcern {
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: var(--small-gutter);

  &:hover {
    cursor: pointer;
  }
}

.inactive {
  border: 1px solid var(--border-color);
  /* Cannot just set element opacity because menus will also be opaque */
  background: var(--white-opaque);
}

.selected {
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
  background: var(--white-color);
}

.patientConcernTitleRow, .patientConcernMetaRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.patientConcernTitle {
  color: var(--black-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-large-font-size);
  line-height: var(--medium-large-font-line-height);
}

.patientConcernHamburger {
  height: 20px;
  width: 20px;
  background-image: url('../../../assets/dot-hamburger-black.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  transition: background-image 0.2s ease-in-out;

  &:hover {
    background-image: url('../../../assets/dot-hamburger-grey-small.svg');
  }
}

.hamburgerSelected {
  /* Important so not overwritten when hovering inside menu */
  background-image: url('../../../assets/dot-hamburger-blue-small.svg') !important;
}

.patientConcernMetaRow {
  margin-bottom: 0;
}

.patientConcernStats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.patientConcernStat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  padding-right: 10px;
  border-right: 1px solid var(--gray-background-color);
}

.patientConcernStat:last-child {
  padding-right: 0;
  border-right: none;
  padding-left: 10px;
}

.patientConcernStatLabel {
  color: var(--gray-font-color);
  margin-right: 10px;
}

.patientConcernStatValue {
  font-weight: var(--roboto-medium-weight);
  color: var(--black-color);
}

.patientConcernDates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.patientConcernDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  padding-right: 10px;
  border-right: 1px solid var(--gray-background-color);
}

.patientConcernDate:last-child {
  padding-right: 0;
  border-right: none;
  padding-left: 10px;
}

.patientConcernDateLabel {
  color: var(--gray-font-color);
  margin-right: 10px;
}

.patientConcernDateValue {
  color: var(--black-color);
}

.inactive .patientConcernTitle, .inactive .patientConcernStatValue, .inactive .patientConcernDateValue {
  color: var(--black-opqaue);
}

.patientGoals {
  padding-left: var(--small-gutter);
  margin-top: 10px;
  transition: height 0.5s ease-in-out;
}

.patientGoals.hidden {
  height: 0;
}