.text {
  display: inline-block;
  margin: 0;
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
  font-weight: var(--default-font-weight);
}

.black {
  color: var(--black-color);
}

.gray {
  color: var(--gray-font-color);
}

.darkGray {
  color: var(--default-font-color);
}

.white {
  color: var(--white-color);
}

.red {
  color: var(--red-color);
}

.purple {
  color: var(--purple-color);
}

.green {
  color: var(--green-color);
}

.lightBlue {
  color: var(--light-blue-color);
}

.blue {
  color: var(--blue-color);
}

.mediumFontSize {
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.largeFontSize {
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}

.largestFontSize {
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
}

.bold {
  font-weight: var(--bold-font-weight);
}

.basetica {
  font-family: var(--basetica-medium);
}

.baseticaBold {
  font-family: var(--basetica-black);
}

.header {
  font-size: var(--header-font-size);
  line-height: var(--header-line-height);
}
