@import '../../shared/css/sizes';
.pagination {
  width: 100%;
}

.paginationRow {
  margin-top: 30px;
  padding: 0 var(--gutter) 50px;
  justify-content: space-between;
  align-items: center;
  lost-flex-container: row;
}

.paginationButton {
  border: 1px solid var(--gray-background-color);
  cursor: pointer;
  user-select: none;
  height: 30px;
  width: 30px;
  background-position: center center;
}

.nextButton {
  background-image: url('../../assets/chevron-right-grey.svg');
  &:hover {
    background-image: url('../../assets/chevron-right-blue.svg');
  }
}

.previousButton {
  background-image: url('../../assets/chevron-left-grey.svg');
  &:hover {
    background-image: url('../../assets/chevron-left-blue.svg');
  }
}

.hidden {
  visibility: collapse;
}
