@import '../../shared/css/sizes';

.container {
  flex: 1;
  justify-content: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.header {
  width: 100%;
}

.headerRow {
  padding: 50px var(--gutter);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.headerText {
  font-family: var(--basetica-black);
  font-size: var(--large-font-size);
  color: var(--default-font-color);
  padding-top: 4px;
  user-select: none;
}

.patientPanelBody {
  width: 100%;
  height: calc(100vh - 213px);
  overflow: auto;
  position: relative;
}
