@import '../../shared/css/sizes';

.table {
  width: 100%;
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  color: var(--default-font-color);
  text-align: left;
  padding: 0 var(--small-gutter);
  position: relative;
}

.tableRow {
  lost-flex-container: row;
}

.tableColumn {
  padding: 20px;
  lost-column: 2/12;
}

.tableBody,
.tableHead {
  width: 100%;
}

.tableHead {
  font-weight: 500;
  background-color: var(--highlight-background-color);
  position: fixed;
  width: calc(100vw - var(--gutter));
  max-width: calc(var(--max-width) - var(--gutter));
  max-height: 56px;
  z-index: 2;
}

.tableBody {
  min-height: 300px;
  max-height: 660px;
  position: absolute;
  top: 56px;
  z-index: 1;
  max-width: calc(var(--max-width) - var(--gutter));
  width: calc(100vw - var(--gutter));
}

.tableBody .tableRow {
  border-bottom: 1px solid var(--gray-background-color);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  color: black;

  &:hover {
    border: 1px solid var(--gray-background-color);
    border-radius: 4px;
    background-color: var(--highlight-background-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
}
