.container {
  flex: 1;
  justify-content: center;
  max-width: var(--max-width);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.header {
  width: 100%;
  padding: 50px var(--gutter);
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.patientPanelBody {
  width: 100%;
  height: calc(100vh - 213px);
  overflow: auto;
  position: relative;
}

.button {
  margin: 6px 0 6px var(--small-gutter);
  height: 42px;
  padding: 13px var(--medium-gutter);
}

.boxWrapper {
  width: 33%;
  display: inline-block;
}

.toggle {
  justify-content: center;
}
