@import '../css/sizes.css';

.content {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.title {
  font-family: var(--basetica-black);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  color: var(--default-font-color);
  margin-bottom: var(--gutter);
}

.title.noMargin {
  margin-bottom: 0;
}

.subtitle {
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--body-copy-line-height);
  color: var(--gray-font-color);
  margin-bottom: var(--gutter);
  text-align: center;
}

.subtitle.noMargin {
  margin-bottom: 0;
}

.options {
  margin: var(--medium-gutter) 0 var(--small-gutter);
  width: 100%;
}

.option {
  height: 50px;
  width: 100%;
  padding: 16px var(--small-gutter);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.2s linear;
}

.option:hover {
  cursor: pointer;
  background-color: var(--gray-background-color);
}

.option:last-child {
  margin-bottom: 0;
}

.optionText {
  color: var(--black-color);
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--default-font-size);
  line-height: var(--medium-font-line-height);
}

.optionsLoading,
.emptyOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--light-gray-font-color);
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--default-font-size);
  line-height: var(--medium-font-line-height);
}

.results {
  margin: var(--medium-gutter) 0 var(--small-gutter);
  width: 30%;
}

.resultRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.resultLabel,
.resultCount {
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}

.resultLabel {
  color: var(--light-gray-font-color);
  margin-right: var(--gutter);
}

.resultCount {
  color: var(--black-color);
  font-weight: var(--roboto-medium-weight);
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 0 auto var(--medium-gutter);
}

.button {
  @apply --button;
}

.smallButton {
  height: 32px;
  width: 148px;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  padding: 10px var(--small-gutter);
}
