.container {
  height: var(--input-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--medium-gutter);
  outline: none;
  border: none;
  cursor: pointer;
}

.container:hover {
  background: var(--highlight-background-color);
}

.headerText {
  margin-left: 5px;
}
