.squareLarge {
  width: 112px;
  height: 150px;
}

.square {
  height: 50px;
  width: 44px;
}

.circle,
.circleSvg,
.circleLarge,
.circleSvgLarge {
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

.circle,
.circleSvg {
  height: var(--medium-gutter);
  width: var(--medium-gutter);
  object-fit: cover;
}

.circleLarge,
.circleSvgLarge {
  height: var(--gutter);
  width: var(--gutter);
}

.circle,
.circleLarge,
.square {
  object-fit: cover;
}

.circleSvg,
.circleSvgLarge,
.square {
  background-size: 100% 100%;
}

.male {
  background-image: url('../../../../assets/missing-avatar-male.svg');
}

.female {
  background-image: url('../../../../assets/missing-avatar-female.svg');
}

.unspecified {
  background-image: url('../../../../assets/missing-avatar-unspecified.svg');
}

.male,
.female,
.unspecified {
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.squareLarge.male,
.squareLarge.female,
.squareLarge.unspecified {
  min-width: 112px;
}

.square.male,
.square.female,
.square.unspecified {
  min-width: 44px;
}
