.container {
  display: flex;
  border-radius: 4px;
  background-color: var(--white-color);
  padding: var(--small-gutter);
  margin: 0 0 var(--small-gutter) 0;
  border: 1px solid var(--border-color);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: top;
}

.left,
.right {
  flex: 1;
}

.left {
  margin-right: 80px;
}

.right {
  margin-right: var(--gutter);
}

.title {
  font-family: var(--basetica-medium);
  font-size: var(--medium-large-font-size);
  line-height: var(--medium-large-line-height);
  margin-bottom: var(--extra-small-gutter);
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu > svg {
  margin-top: var(--extra-small-gutter);
}
