.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: var(--modal-z-index);
  top: 0;
  left: 0;
  background: var(--popup-background-color);
  align-items: center;
  display: flex;
}

.background.transparent {
  background: transparent;
  pointer-events: none;
}

.background.transparent .content {
  pointer-events: auto;
}

.background.bottom {
  align-items: flex-end;
}

.background.bottom .content {
  margin-bottom: var(--medium-gutter);
}

.content {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  background: white;
  padding: 50px 100px;
  position: relative;
}

.content.smallContentPadding {
  padding: var(--small-gutter);
}

.content.noContentPadding {
  padding: 0;
  border: 0 solid;
}
