@import '../../shared/css/sizes';

.header {
  z-index: 0;
  height: 60px;
  flex: 0 60px;
  display: flex;
  background: linear-gradient(315deg, #66c5dd 0%, #2962ff 100%);
}

.container {
  width: 100%;
  padding: 0 var(--medium-gutter) 0 0;
  lost-center: var(--max-width);
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.link {
  border: 0 solid;
  text-decoration: none;
}

.mark {
  height: 60px;
  width: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url('../../assets/mark.svg');
  border-right: 1px solid rgba(242, 242, 242, 0.15);
}

.navItem {
  text-align: center;
  padding: 0 23px;
  background-color: transparent;
  transition: background-color 0.3s;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.relativeNavItem {
  position: relative;
}

.navText {
  color: white;
  font-family: var(--basetica-medium);
  line-height: 29px;
}

.navItem:hover {
  color: white;
  background-color: var(--blue-color);
}

.searchIcon,
.patientsIcon,
.tasksIcon {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-position: center center;
  margin-right: 10px;
}

.searchIcon {
  background-image: url('../../assets/search.svg');
}

.patientsIcon {
  background-image: url('../../assets/patients.svg');
}

.tasksIcon {
  background-image: url('../../assets/tasks.svg');
}

.left,
.right {
  display: flex;
  align-items: center;
}

.right {
  height: 100%;
  text-align: right;
}

.userInfo {
  font-family: var(--roboto);
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 4px;
}

.userName {
  color: #fff;
  font-weight: bold;
  text-align: right;
}

.userRole {
  color: var(--white-font-color);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  text-align: right;
}

.userPhoto {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid white;
}

.dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 40px;
  width: 175px;
  background-color: var(--highlight-background-color);
  box-shadow: var(--login-drop-shadow);
  padding: 20px;
  text-align: left;
}

.dropdown a {
  color: black;
  display: block;
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 1px solid var(--highlight-background-color);
    padding-bottom: 0;
  }
}

.right:hover {
  cursor: pointer;
}

.right:hover .dropdown {
  display: block;
}

.settingsIcon,
.logoutIcon {
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.logoutIcon {
  background-image: url('../../assets/logout.svg');
}

.settingsIcon {
  background-image: url('../../assets/settings.svg');
}

.notificationBadge {
  display: none;
  position: absolute;
  top: 18px;
  left: 23px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--red-color);
}

.notificationBadge.visible {
  display: block;
}
