.heading {
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  text-align: center;
}

.body {
  color: var(--gray-font-color);
  margin-top: 10px;
  text-align: center;
}

svg.icon {
  margin: 0 auto 10px;
  display: block;
}
