@import '../../../shared/css/sizes';

.emptySummary {
  font-family: var(--roboto);
  color: var(--border-color);
  font-size: var(--small-font-size);
  line-height: var(--medium-font-line-height);
  margin: var(--small-gutter) auto 0;
}

.errorLoadingSummary {
  font-family: var(--roboto);
  color: var(--border-color);
  font-size: var(--small-font-size);
  line-height: var(--medium-font-line-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--small-gutter) auto 0;
}

.summaryErrorLabel {
  margin-right: 5px;
  color: var(--red-color);
}

.riskArea {
  background-color: var(--white-color);
  border-radius: 4px;
  border-left: 2px solid var(--green-color);
  display: flex;
  flex-direction: column;
  padding: var(--small-gutter) var(--small-gutter) var(--small-gutter) 18px;
  min-height: 109px;
  margin-bottom: 10px;
}

.riskAreaLink {
  color: var(--black-color);

  &:hover {
    color: var(--black-color);
  }
}

.riskAreaLink:last-child .riskArea {
  margin-bottom: 0;
}

.riskAreaLink.inactive:hover {
  cursor: default;
}

.riskArea.highRisk {
  border-left: 2px solid var(--red-color);
}

.riskArea.mediumRisk {
  border-left: 2px solid var(--yellow-color);
}

.riskArea.unstarted {
  border-left: 2px solid transparent;
}

.riskAreaTitleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.riskAreaBody {
  display: flex;
}

.lastUpdatedLabel {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
  margin-right: 5px;
}

.lastUpdatedValue {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--black-color);
}

.riskAreaTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.riskAreaLastUpdated {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.titleText {
  color: var(--black-color);
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}
