@import '../../../shared/css/sizes';

.riskAreasPanel {
  background-color: var(--gray-background-color);
  padding: 20px var(--medium-gutter);
}

.riskAreasList {
  width: 50%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.marginLeft {
  margin-left: 10px;
}

.riskAreas {
  height: calc(100vh - 200px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.emptyRiskAreasMessage {
  border: 1px dashed var(--border-color);
  border-radius: 4px;
  padding: 50px 0;
}

.emptyRiskAreasLogo {
  background-image: url('../../../assets/calendar-event-grey.svg');
  background-position: center center;
  height: 30px;
  width: 30px;
  margin: 0 auto 25px;
}

.emptyRiskAreasLabel {
  margin: 0 auto 10px;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
}

.emptyRiskAreasSubtext {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}
