@import '../../../shared/css/sizes';

.riskAssessmentTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px var(--small-gutter) 10px 16px;
  border-radius: 4px;
  background-color: var(--white-color);
  margin-bottom: 10px;
  border-left: 4px solid transparent;
}

.riskAssessmentTitle.lowRisk {
  border-left: 4px solid var(--green-color);
}

.riskAssessmentTitle.mediumRisk {
  border-left: 4px solid var(--yellow-color);
}

.riskAssessmentTitle.highRisk {
  border-left: 4px solid var(--red-color);
}

.title,
.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.meta {
  justify-content: flex-end;
  border-left: 1px solid var(--gray-background-color);
  padding-left: 10px;
}

.title {
  justify-content: flex-start;
}

.lastUpdatedLabel {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
  margin-right: 5px;
}

.lastUpdatedValue {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--black-color);
}

.titleText {
  color: var(--black-color);
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}

.border {
  border: 1px solid var(--border-color);
  border-radius: var(--big-border-radius);
  margin-bottom: var(--extra-small-gutter);
}

.border:last-child {
  margin-bottom: 80px;
}

.container {
  height: calc(100vh - 200px);
}
