@import '../../../shared/css/sizes';

.button {
  width: 185px;
}

.marginRight {
  margin-right: var(--extra-small-gutter);
}

.riskAreasPanel {
  background-color: var(--gray-background-color);
  padding: 20px var(--medium-gutter);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
