@import '../../../shared/css/sizes';

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.saveButton {
  margin-left: 10px;
}

.cancelButton {
  padding-top: 8px;
}

.toolsButton {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.riskAreasPanel {
  background-color: var(--gray-background-color);
  padding: 20px var(--medium-gutter);
}
