@import '../../../shared/css/sizes';

.marginLeft {
  margin-left: 10px;
}

.invertedButton {
  @apply --inverted-button;
}

.button {
  @apply --button;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.saveButton {
  margin-left: 10px;
}

.saveButton.disabled,
.startButton.disabled {
  opacity: 0.4;

  &:hover {
    cursor: not-allowed;
  }
}

.cancelButton,
.saveButton,
.startButton,
.toolsButton {
  height: 32px;
  width: 173px;
  padding: 9px 30px;
}

.cancelButton {
  padding-top: 8px;
}

.toolsButton {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.riskAreasPanel {
  background-color: var(--gray-background-color);
  padding: 20px var(--medium-gutter);
}

::-webkit-scrollbar {
  display: none;
}

.riskAreas,
.riskAssessment,
.riskAssessmentError {
  height: calc(100vh - 200px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.emptyRiskAreasMessage {
  border: 1px dashed var(--border-color);
  border-radius: 4px;
  padding: 50px 0;
}

.emptyRiskAreasLogo {
  background-image: url('../../../assets/calendar-event-grey.svg');
  background-position: center center;
  height: 30px;
  width: 30px;
  margin: 0 auto 25px;
}

.emptyRiskAreasLabel {
  margin: 0 auto 10px;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
}

.emptyRiskAreasSubtext {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}

.riskAreasList {
  width: 50%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.riskAreaLink {
  color: var(--black-color);

  &:hover {
    color: var(--black-color);
  }
}

.riskAreaLink.inactive:hover {
  cursor: default;
}

.riskArea {
  background-color: var(--white-color);
  border-radius: 4px;
  border-left: 2px solid var(--green-color);
  display: flex;
  flex-direction: column;
  padding: var(--small-gutter) var(--small-gutter) var(--small-gutter) 18px;
  min-height: 109px;
  margin-bottom: 10px;
}

.riskAreaLink:last-child .riskArea {
  margin-bottom: 0;
}

.riskArea.highRisk {
  border-left: 2px solid var(--red-color);
}

.riskArea.mediumRisk {
  border-left: 2px solid var(--yellow-color);
}

.riskArea.unstarted {
  border-left: 2px solid transparent;
}

.riskAreaTitleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.riskAreaTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.riskAreaLastUpdated {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.riskAreaBody {
  display: flex;
}

.riskAreaSummaryList {
  margin: 10px 0 0 0;
  padding-left: 25px;
}

.riskAreaSummaryList li {
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  line-height: var(--medium-font-line-height);
  color: var(--black-color);
  padding-left: 14px;
}

.riskAreaSummaryList .subSummaryList {
  margin: 0;
  padding-left: 10px;
  list-style: none;
}

.riskAreaSummaryList .subSummaryList li {
  padding-left: 0;
}

.riskAreaSummaryList .subSummaryList li::before {
  content: '-';
  padding-right: 22px;
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--small-font-size);
  line-height: var(--medium-font-line-height);
  color: var(--black-color);
}

.emptySummary,
.errorLoadingSummary {
  font-family: var(--roboto);
  color: var(--border-color);
  font-size: var(--small-font-size);
  line-height: var(--medium-font-line-height);
}

.emptySummary {
  margin: var(--small-gutter) auto 0;
}

.errorLoadingSummary {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--small-gutter) auto 0;
}

.summaryErrorLabel {
  margin-right: 5px;
  color: var(--red-color);
}

.summaryErrorRetry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: opacity 0.2s linear;
}

.summaryErrorRetry:hover {
  cursor: pointer;
  opacity: 0.7;
}

.summaryErrorRetryText {
  margin-right: 2px;
  color: var(--border-color);
}

.summaryErrorIcon {
  height: 12px;
  width: 12px;
  background-image: url('../../../assets/refresh-icon-grey.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.riskAssessmentTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px var(--small-gutter) 10px 16px;
  border-radius: 4px;
  background-color: var(--white-color);
  margin-bottom: 10px;
  border-left: 4px solid transparent;
}

.riskAssessmentTitle.lowRisk {
  border-left: 4px solid var(--green-color);
}

.riskAssessmentTitle.mediumRisk {
  border-left: 4px solid var(--yellow-color);
}

.riskAssessmentTitle.highRisk {
  border-left: 4px solid var(--red-color);
}

.title,
.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  justify-content: flex-start;
}

.meta {
  justify-content: flex-end;
  border-left: 1px solid var(--gray-background-color);
  padding-left: 10px;
}

.titleIcon {
  height: 18px;
  width: 18px;
  background-image: url('../../../assets/house-icon-grey.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.titleText {
  color: var(--black-color);
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}

.lastUpdatedLabel {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--light-gray-font-color);
  margin-right: 5px;
}

.lastUpdatedValue {
  font-family: var(--roboto);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-font-line-height);
  color: var(--black-color);
}
