.footer {
  margin-top: -58px;
  color: var(--white-font-color);
  font-family: var(--basetica-medium);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
