@import '../../shared/css/sizes';

.background {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, var(--teal-color) 0%, var(--blue-color) 100%);
}

.container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: var(--max-width);
}

.title {
  color: var(--blue-color);
  font-family: var(--basetica-medium);
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form {
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: var(--login-drop-shadow);
  padding: 85px 0;
  text-align: center;
  width: 100%;
}

.button {
  border: 1px solid var(--border-color);
  border-radius: 2px;
  background-color: #fff;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.6s;
  outline: none;
  -webkit-appearance: none;

  &:hover {
    background-color: var(--border-color);
    transition: background-color 0.3s;
  }
}

.googleIcon {
  background-image: url('../../assets/google-logo.png');
  background-size: cover;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.buttonText {
  color: rgba(0, 0, 0, 0.54);
  font-family: var(--roboto);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  vertical-align: text-top;
}

.formErrorContainer {
  text-align: center;
  width: 33%;
  min-width: 420px;
  margin: 0 auto;
}

.errorIcon {
  padding: 17px;
  background-color: var(--red-color);
  background-image: url('../../assets/alert-triangle-white.svg');
  background-position: center center;
  background-repeat: no-repeat;
  width: 60px;
  min-height: 58px;
  flex: 1;
}

.errorText {
  padding: 17px;
  color: var(--gray-font-color);
  width: calc(100% - 60px);
  align-self: center;
}

.error {
  box-shadow: var(--login-drop-shadow);
  background: white;
  border-radius: 6px;
  width: 100%;
  text-align: left;
  margin-top: 19px;
  font-family: var(--roboto);
  font-weight: normal;
  overflow: hidden;
  display: flex;
}
