.container input[type='checkbox'] {
  display: none;
}

.container label {
  color: var(--gray-font-color);
  text-align: center;
  padding: 0 var(--medium-gutter);
  display: inline-block;
  box-sizing: border-box;
  height: var(--input-height);
  font-size: var(--medium-font-size);
  line-height: 50px;
  min-width: 100px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  margin: 0 var(--extra-small-gutter) var(--extra-small-gutter) 0;
}

.checked label {
  color: var(--blue-color);
  border-color: var(--black-color);
}

.disabled label {
  cursor: default;
  color: var(--gray-background-color);
  border-color: var(--border-color);
}

.checked.disabled label {
  color: var(--black-color);
  background: var(--gray-background-color);
  border-color: var(--black-color);
}
