@import '../common/sizes';
.careTeamWidget {
  position: fixed;
  bottom: 0;
  width: 25%;
  lost-center: var(--max-width);
  box-shadow: -8px -1px 10px 0 rgba(0,0,0,0.15);
  max-width: 400px;
}

.careTeamWidgetRow {
  width: calc(100% - 1px);
  display: flex;
  flex-direction: row;
}

.careTeamWidgetContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button {
  height: 65px;
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 22px 31px 18px;
  lost-flex-container: row;
}

.drawer {
  height: 0px;
  background-color: var(--white-color);
  transition: height .3s ease-in-out;
}

.drawer.open {
  height: calc(100vh - 125px);
  overflow-y: auto;
}

.buttonLabel, .buttonChatLabel {
  align-items: center;
  justify-content: space-between;
  lost-flex-container: row;
}

.buttonIcon {
  height: 20px;
  width: 20px;
  margin-right: 12px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../assets/team-chat-icon-white.svg');
}

.buttonTitle {
  font-family: var(--basetica-medium);
  font-size: var(--medium-large-font-size);
  line-height: var(--medium-large-font-line-height);
}

.buttonArrow {
  height: 12px;
  width: 12px;
  margin-bottom: 1px;
  transform: rotateX(180deg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url('../../assets/down-arrow-white.svg');
}

.openButton {}

.button.openButton .buttonArrow {
  transform: rotateX(0deg);
  background-position: center top;
}

.chatLogo {
  margin-top: 2px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../assets/slack-mark.svg');
}
