@import '../common/sizes';
.header {
  z-index: 0;
  height: 70px;
  flex: 0 70px;
  display: flex;
  background-color: #8FADFF;
  background: linear-gradient(135deg, #66C5DD 0%, #2962FF 100%);
}

.container {
  width: 100%;
  padding: 0px var(--gutter);
  lost-center: var(--max-width);
}

.link {
  border: 0px solid;
  text-decoration: none;
}

.hamburger {
  height: 69px;
  width: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-image: url('../../assets/mark.svg');
  border-right: 1px solid rgba(242, 242, 242, 0.15);
}

.navItem {
  display: inline-block;
  color: white;
  text-align: center;
  font-family: var(--basetica-medium);
  padding: 20px 23px;
  line-height: 29px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.navItem:hover {
  color: white;
  background-color: var(--blue-color);
}

.searchIcon, .patientsIcon, .tasksIcon {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  background-position: center center;
  margin-right: 10px;
}

.searchIcon {
  background-image: url('../../assets/search.svg');
}

.patientsIcon {
  background-image: url('../../assets/patients.svg');
}

.tasksIcon {
  background-image: url('../../assets/tasks.svg');
}

.left {
  lost-column: 1/3 3;
}

.center {
  lost-column: 1/3 3;
  margin-top: 23px;
  text-align: center;
}

.center a {
  color: white;
  text-align: center;
  font-family: var(--basetica-medium);
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 23px;
  text-transform: uppercase;
}

.right {
  lost-column: 1/3 3;
  margin-top: 15px;
  text-align: right;
}

.userInfo {
  font-family: var(--roboto);
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 4px;
}

.userName {
  color: #FFFFFF;
  font-weight: bold;
  text-align: right;
}

.userRole {
  color: var(--white-font-color);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  text-align: right;
}

.userPhoto {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid white;
}

.right:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 65px;
  right: 40px;
  width: 175px;
  background-color: var(--highlight-background-color);
  box-shadow: var(--login-drop-shadow);
  padding: 20px;
  text-align: left;
}

.dropdown a {
  color: black;
  display: block;
  font-family: var(--roboto);
  font-weight: var(--roboto-medium-weight);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0px;
  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    border-bottom: 1px solid var(--highlight-background-color);
    padding-bottom: 0px;
  }
}

.settingsIcon, .logoutIcon {
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.logoutIcon {
  background-image: url('../../assets/logout.svg');
}

.settingsIcon {
  background-image: url('../../assets/settings.svg');
}