@import '../common/sizes';
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: visibility 0.3s, opacity 0.3s linear;
  visibility: visible;
  opacity: 1;

  &:hover {
    cursor: default;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--lightbox-background-color);
  opacity: 0.5;
}

.foreground {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.viewer {
  z-index: 1;
  height: 490px;
  width: 490px;
  border-radius: 6px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  user-select: none;
  background-image: url('http://www.digitalpedometerguide.com/images/step-counter.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.viewer:hover .overlay {
  opacity: 1;
  transition-delay: 0s;
}

.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.2s linear;
  transition-delay: 0.5s;
}

.header, .controls, .imageCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.header, .controls {
  justify-content: space-between;
  padding: var(--small-gutter) var(--small-gutter) var(--medium-gutter);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.controls {
  transform: scaleY(-1);
}

.imageCount {
  justify-content: flex-start;
}

.imageCountIcon, .close, .backArrow, .nextArrow {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.imageCountIcon {
  background-image: url('../../assets/image-icon-white.svg');
  margin-right: 10px;
  height: 24px;
  width: 24px;
}

.imageCountLabel {}

.close {
  background-image: url('../../assets/close-icon-white.svg');
  height: 26px;
  width: 26px;
}

.backArrow, .nextArrow {
  background-image: url('../../assets/chevron-left-white.svg');
  height: 36px;
  width: 36px;
}

.backArrow, .nextArrow, .close {
  opacity: 1;
  transition: opacity 0.1s linear;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.nextArrow {
  transform: rotateY(180deg);
}

.hidden {
  visibility: collapse;
  opacity: 0;
}