@import '../common/sizes';
.container {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, var(--teal-color) 0%, var(--blue-color) 100%);
}

.title {
  color: var(--blue-color);
  font-family: Basetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.error {
  color: red;
  font-weight: bold;
}

.form {
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.15), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 85px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button {
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  background-color: #FFFFFF;
  padding: 12px 24px;
}

.googleIcon {
  background-image: url('../../assets/google-logo.png');
  background-size: cover;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.buttonText {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  vertical-align: text-top;
}