@import '../common/sizes';
.container {
  flex: 1;
  justify-content: center;
  height: 100vh;
  lost-center: var(--max-width);
}

.leftPane {
  background-color: var(--white-color);
  border-top: 1px solid var(--gray-background-color);
  border-left: 1px solid var(--gray-background-color);
  border-right: 1px solid var(--border-color);
  flex-basis: 25%;
  height: 100vh;
  overflow: scroll;
}

.mainBody {
  flex-basis: 75%;
}

.patientMain {
  padding: 0 var(--gutter);
  border-bottom: 1px solid var(--gray-background-color);
}

.patientRisk {
  height: 30px;
  background-color: var(--yellow-color);
  color: var(--gray-font-color);
  font-size: var(--small-font-size);
  font-weight: var(--roboto-medium-weight);
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  lost-flex-container: row;
}

.patientHeader {
  padding: 31px 0;
  lost-flex-container: row;
}

.patientPhoto {
  height: 80px;
  lost-column: 1/3;
}

.patientTitle {
  lost-flex-container: column;
  lost-column: 2/3;
}

.patientName {
  font-family: var(--basetica-black);
  font-size: var(--large-font-size);
  line-height: var(--large-font-line-height);
  color: var(--black-color);
}

.patientSubheading {
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  font-weight: var(--roboto-medium-weight);
  color: var(--black-color);
}

.patientBasicInfo {
  padding: 0 0 20px;
  lost-flex-container: column;
}

.patientBasicInfoRow {
  justify-content: space-between;
  font-family: var(--roboto);
  font-size: var(--default-font-size);
  padding-bottom: 10px;
  lost-flex-container: row;
}

.patientBasicInfoRowTitle {}

.patientBasicInfoRowData {
  font-weight: var(--roboto-medium-weight);
  color: var(--black-color);
}

.patientCommunication {
  padding-bottom: 30px;
  justify-content: space-between;
  lost-flex-container: row;
}

.patientCommItem {
  width: 58px;
  height: 58px;
  border: 1px solid var(--gray-background-color);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-background-color);
  }
}

.patientCommPhone {
  background-image: url('../../assets/phone-black.svg');
  background-size: 25px;
}

.patientCommText {
  background-image: url('../../assets/sms-black.svg');
  background-size: 26px;
}

.patientCommEmail {
  background-image: url('../../assets/email-black.svg');
  background-size: 28px;
}

.patientCommVideo {
  background-image: url('../../assets/videocam-black.svg');
  background-size: 30px;
}

.tabs {
  padding: var(--medium-gutter) var(--medium-gutter) 0;
  border-bottom: 1px solid var(--border-color);
  height: 67px;
  background-color: var(--white-color);
  justify-content: flex-start;
  lost-flex-container: row;
}

.tab {
  font-family: var(--basetica-medium);
  font-size: var(--default-font-size);
  line-height: var(--small-font-line-height);
  color: var(--gray-font-color);
  margin-right: var(--medium-gutter);
  padding-right: 5px;

  &.selectedTab {
    color: var(--blue-color);
    border-bottom: 4px solid var(--blue-color);
  }

  &:hover {
    cursor: pointer;
  }
}

.pane {
  display: none;

  &.selectedPane {
    display: block;
  }
}
