@import '../common/sizes';
.container {}

.formContainer {
  max-width: var(--max-width);
  margin: 0px auto;
  lost-flex-container: row;
}

.leftNav {
  background: var(--gray-background-color);
  padding: 50px 55px 0px var(--gutter);
  lost-column: 2/12;
}

.leftNavLink {
  color: var(--gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--default-font-size);
  line-height: var(--medium-font-line-height);
  margin-bottom: 30px;
  cursor: pointer;
}

.form {
  lost-column: 10/12;
}

.formRow {
  max-width: var(--max-width);
  margin: 0px auto;
  lost-flex-container: row;
}

.formSection {
  border-bottom: 1px solid var(--gray-background-color);
  padding-bottom: var(--gutter);
  margin-bottom: var(--gutter);
}

.formSection:last-child {
  margin-bottom: 100px;
  border-bottom: 0px solid;
}

.formHeading {
  @apply --title;
  margin: 50px 0px;
}

.formColumn {
  lost-column: 3/10;
  margin-bottom: 30px;
}

.input {
  @apply --input;
  width: 100%;
}

.label {
  @apply --label;
  margin-bottom: 10px;
}

.select {
  @apply --select;
  color: var(--border-color);
  &:valid {
    color: black;
  }
}

.optionalLabel {
  color: var(--border-color);
  font-family: var(--basetica-medium);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  display: inline-block;
  margin-left: 5px;
}

.formBottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: white;
  padding: 15px 0px;
  width: 100%;
}

.formBottomContent {
  width: 100%;
  max-width: var(--max-width);
  margin: 0px auto;
  padding: 0px var(--gutter);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cancelButton {
  @apply --inverted-button;
}

.submitButton {
  @apply --button;
}

.radio {
  &:checked + label:after {
    opacity: 1;
  }
}

.radioContainer {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0px;
  background: white;
  border: 1px solid var(--border-color);
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.radioItem {
  lost-column: 4/10 2 0px;
  display: inline-block;
  vertical-align: top;
  min-width: 55px;
}

.radioContainer label {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  pointer-events: none;
}

.radioContainer label:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: var(--blue-color);
  transition: opacity 0.3s;
  opacity: 0;
}

.radioContainer label:hover::after {
  opacity: 0.3;
}

.radioRow {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
}

.radioRowLeft {
  lost-column: 5/12;
}

.smallText {
  color: var(--gray-font-color);
}

.radioRowRight {
  lost-column: 4/12;
  font-weight: 300;
}

.radioLabel {
  display: inline-block;
  margin-top: 2px;
}