.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0px;
  left: 0px;
  background: var(--popup-background-color);
  align-items: center;
  display: flex;
}

.content {
  flex: 1;
  max-width: 600px;
  margin: 0px auto;
  border: 1px solid #CCCCCC;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  background: white;
  padding: 50px 100px;
  position: relative;
}
