@import '../common/sizes';

.content {
  background: var(--white-color);
}

.heading {
  font-family: var(--basetica-medium);
  font-size: var(--large-font-size);
  line-height: var(--large-font-line-height);
  width: 100%;
  text-align: center;
}

.highlight {
  color: var(--green-color);
}

.paragraph {
  line-height: 20px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

a.button {
  @apply --button;
  padding: 14px 42px 11px;
  margin-top: 40px;
  display: block;
}

a.invertedButton {
  @apply --inverted-button;
  padding: 14px 42px 11px;
  margin-top: 40px;
  display: block;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}