@import '../common/sizes';
.container {
  background: var(--white-font-color);
  height: calc(100vh - 110px);
}

.tasksList {
  padding: 15px 0;
  flex: 1;
  &:hover {
    cursor: pointer;
  }
}

.tasksList.emptyTasksList {
  &:hover {
    cursor: default;
  }
}

.taskListContainer {
  flex-grow: 1;
  flex-shrink: 1;
  transition: all 0.3s;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}

.taskContainer {
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0px;
  transition: all 0.3s;
}

.taskContainerVisible {
  overflow: visible;
  flex-grow: 1;
}

.emptyTasksMessage {
  border: 1px dashed var(--border-color);
  border-radius: 4px;
  padding: 24px 40px 21px;
  margin: 5px var(--gutter) 0;
}

.emptyTasksLogo {
  background-image: url('../../assets/generic-health-icon-grey.svg');
  background-position: center center;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  margin: 0 auto 13px;
}

.emptyTasksLabel {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
}

.tasksError {
  margin: 50px var(--gutter) 0;
}

.tasksErrorIcon {
  background-image: url('../../assets/error-circle.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  margin: 0 auto 13px;
}

.tasksErrorLabel {
  color: var(--default-font-color);
  font-family: var(--basetica-black);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  text-align: center;
  margin: 0 auto 10px;
}

.tasksErrorSubheading {
  color: var(--gray-font-color);
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
  text-align: center;
  margin: 0 auto var(--medium-gutter);
  padding: 0 var(--small-gutter);
}

.tasksErrorButton {
  @apply --inverted-button;
  width: 94px;
  height: 32px;
  margin: 0 auto;
  padding: 9px 0 0 0;
  text-align: center;
  font-size: var(--small-font-size);
  line-height: var(--small-font-line-height);
}

.tasksLoading {
  margin: 0 auto;
  text-align: center;
  color: var(--light-gray-font-color);
  font-family: var(--basetica-medium);
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-line-height);
  padding-top: var(--medium-gutter);
}

.search {
  margin-left: 10px;
}

.createContainer {
  align-self: center;
}

.createButton {
  @apply --button;
  padding: 7px 64px 6px;
}