.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--extra-small-gutter);
  height: var(--small-gutter);
}

.button {
  border: none;
  padding: 0;
  cursor: pointer;
}
