.container,
.empty {
  width: 450px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--gray-background-color);
  height: var(--input-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  width: 200px;
}
