.background {
  width: 80%;
  margin: 50px auto;
}

.heading {
  font-family: var(--basetica-black);
  font-size: var(--large-font-size);
  line-height: var(--large-font-line-height);
  margin: 50px 0;
}

.form {
  background-color: #f2f2f2;
  padding: 20px 30px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.container {
  width: 100%;
}

.saveButton {
  margin-top: 36px;
}
