@import '../../shared/css/sizes';
.background {
  width: 80%;
  margin: 50px auto;
}

.heading {
  @apply --title;
  margin: 50px 0px;
}

.form {
  background-color: #f2f2f2;
  padding: 20px 30px;
  max-width: var(--max-width);
  margin: 0px auto;
}

.container {
  width: 100%;
}
