@import '../../shared/css/sizes';

.container {
  width: 100%;
}

.header {
  padding: var(--medium-gutter);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--white-color);
  z-index: 1;
}
